<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Skrupel TNG</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../css/fontawesome-all.min.css"
	th:href="@{/css/fontawesome-all.min.css}" />
<link rel="stylesheet" href="../css/skrupel_tng.css"
	th:href="@{/css/skrupel_tng.css}" />

<link rel="stylesheet" href="../css/modules/ingame/ingame.css"
	th:href="@{/css/modules/ingame/ingame.css}" />

<script type="text/javascript" src="../js/jquery.js"
	th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"
	th:src="@{/js/bootstrap.min.js}"></script>

<script type="text/javascript" src="../js/skrupel_tng.js"
	th:src="@{/js/skrupel_tng.js}"></script>
<script type="text/javascript" src="../js/modules/ingame/ingame.js"
	th:src="@{/js/modules/ingame/ingame.js}"></script>

</head>
<body>
	<div th:if="${!game.finished}">
		<nav class="navbar navbar-fixed-top" id="header">
			<input type="hidden" th:value="${overviewViewed}"
				id="skr-ingame-overview-viewed" /> <a class="navbar-brand"
				id="skr-ingame-to-dashboard" href="/dashboard/existing-games">Skrupel
				TNG</a> <a href="#" onclick="ingame.showOverview()"
				id="skr-ingame-overview-button" class="navbar-item"> <span
				th:text="#{overview}">Overview</span> <i
				class="fa-fw fas fa-tablet-alt"></i>
			</a> <a href="#" onclick="ingame.select('planet-selection')"
				id="skr-ingame-planets-button" class="navbar-item"> <span
				th:text="#{colonies}">Colonies</span> <i class="fa-fw fas fa-globe"></i>
			</a> <a href="#" onclick="ingame.select('starbase-selection')"
				id="skr-ingame-starbases-button" class="navbar-item"> <span
				th:text="#{starbases}">Starbases</span> <i
				class="fa-fw fas fa-project-diagram"></i>
			</a> <a href="#" onclick="ingame.select('ship-selection')"
				id="skr-ingame-ships-button" class="navbar-item"> <span
				th:text="#{ships}">Ships</span> <i
				class="fa-fw fas fa-space-shuttle"></i>
			</a>

			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button"
					id="skr-dashboard-user-menu-button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-user"></i>
				</button>
				<div class="dropdown-menu"
					aria-labelledby="skr-dashboard-user-menu-button">
					<a class="dropdown-item" href="#" onclick="ingame.finishTurn()"
						id="skr-ingame-end-turn-button" th:text="#{finish_turn}">Finish
						turn</a> <a class="dropdown-item" href="/logout"
						id="skr-ingame-logout-button" th:text="#{logout}">Logout</a>
				</div>
			</div>
		</nav>
		<section class="section">
			<div id="skr-ingame-overview-modal-wrapper"></div>

			<div id="skr-ingame-round-calculation-modal-wrapper">
				<div class="modal" id="skr-ingame-round-calculation-modal"
					tabindex="-1" role="dialog">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<div class="text-center" style="width: 100%;" th:text="#{calculationg_round}">Calculating
									round</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<input type="hidden" id="skr-game-playercolor"
				th:value="${playerColor}" />

			<div id="skr-game-galaxy-wrapper"
				th:include="ingame/galaxymap/galaxy-map::content"></div>
			<div id="skr-game-selection"></div>
		</section>
	</div>
</body>
</html>