<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" class="container-fluid">
		<div class="row">
			<div class="col-12 form-group">
				<label for="skr-ingame-logbook-input" th:text="#{log_book}">Logbook</label>
				<textarea class="form-control" id="skr-ingame-logbook-input" th:text="${logbook}" rows="2"></textarea>
				<button type="button" class="btn btn-default" onclick="logbook.saveLogbook()" th:text="#{save}">Save</button>
			</div>
		</div>
		<script type="text/javascript" src="../js/modules/ingame/logbook.js" th:src="@{/js/modules/ingame/logbook.js}"></script>
	</div>
</body>
</html>