<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" class="container-fluid">
		<div class="row">
			<div class="col-12 col-sm-6 col-md-3 col-lg-2" th:each="planet : ${planets}">
				<div class="card">
					<div class="card-body skr-ingame-planet-selection-item" th:onclick="|ingame.select('planet', ${planet.id}, ${planet.x}, ${planet.y})|">
						<div class="card-title" th:text="${planet.name}">Planetenname</div>
						<div class="row">
							<div class="col-8">
								<img th:src="${planet.createFullImagePath()}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>