<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" class="skr-ingame-list-panel-wrapper">
		<div class="skr-ingame-list-panel">
			<table>
				<tbody>
					<tr>
						<td th:each="ship : ${ships}">
							<div class="card skr-ingame-ship-selection-item">
								<div class="card-body" th:onclick="|ingame.select('ship', ${ship.id}, ${ship.x}, ${ship.y})|">
									<div class="card-title" th:text="${ship.name}">Schiffname</div>
									<table>
										<tbody>
											<tr class="skr-ingame-ship-bars">
												<td>
													<img th:src="${ship.createFullImagePath().replace('.jpg', '_klein.jpg')}" />
												</td>
												<td valign="bottom" class="ship-bar" th:title="|#{shields}: ${ship.shield} / 100|">
													<div class="shield" th:style="|height:${ship.retrieveShieldInfoHeight()}px|"></div>
												</td>
												<td valign="bottom" class="ship-bar" th:title="|#{damage}: ${ship.damage} / 100|">
													<div class="damage" th:style="|height:${ship.retrieveDamageInfoHeight()}px|"></div>
												</td>
												<td valign="bottom" class="ship-bar" th:title="|#{fuel}: ${ship.fuel} / ${ship.shipTemplate.fuelCapacity}|">
													<div class="fuel" th:style="|height:${ship.retrieveFuelInfoHeight()}px|"></div>
												</td>
												<td valign="bottom" class="ship-bar"
													th:title="|#{storage}: ${ship.retrieveTotalGoods()} / ${ship.shipTemplate.storageSpace}|">
													<div class="cargo" th:style="|height:${ship.retrieveCargoInfoHeight()}px|"></div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>