<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" class="container-fluid">
		<div class="row">
			<div class="col-12 col-sm-6 col-md-3 col-lg-2" th:each="starbase : ${starbases}">
				<div class="card">
					<div class="card-body skr-ingame-starbase-selection-item" th:onclick="|ingame.select('starbase', ${starbase.id}, ${starbase.planet.x}, ${starbase.planet.y})|">
						<div class="card-title" th:text="${starbase.name}">Starbase I</div>
						<div class="row">
							<div class="col-8">
								<img th:src="${starbase.createFullImagePath()}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>