<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content">
		<div id="skr-game-galaxy" th:style="${@galaxyHelper.getGalaxySizeStyle(game.galaxySize)}">
			<div th:each="coord : ${visibilityCoordinates}" class="skr-ingame-visibility-background"
				th:style="${@galaxyHelper.getCoordinatesStyle(coord.x, coord.y)}">
				<img th:src="${'/images/space/0.gif'}" />
			</div>

			<div th:each="ship : ${singleShips}" th:style="${@galaxyHelper.getCoordinatesStyle(ship.x, ship.y)}"
				th:attr="shipid=${ship.id}" th:id="${'skr-ingame-shipicon-' + ship.id}" class="skr-game-ship-mouse">
				<div class="ship-in-space" th:style="${'border-color: #' + ship.player.color + ';'}"
					th:onclick="${ship.player.id == playerId} ? |ingame.select('ship', ${ship.id}, ${ship.x}, ${ship.y})| : ''"
					th:name="${ship.name}"></div>
				<div class="skr-game-details-mouseover container" th:if="${ship.player.id == playerId}"
					th:id="${'skr-ingame-ship-details-' + ship.id}">
					<div th:include="ingame/galaxymap/ship-mouseover::content" th:with="ship=${ship}"></div>
				</div>
			</div>

			<div th:each="cluster : ${shipClusters}" th:style="${@galaxyHelper.getCoordinatesStyle(cluster.x, cluster.y)}"
				th:attr="coordId=${cluster.x + '_' + cluster.y}"
				th:onclick="${cluster.ships.get(0).player.id == playerId} ? |ingame.select('ship-selection', 0, ${cluster.x}, ${cluster.y})| : ''"
				class="ship skr-game-ship-cluster-mouse">
				<div class="ship-in-space" th:style="${'border-color: #' + cluster.ships.get(0).player.color + ';'}"></div>
				<div class="skr-game-details-mouseover container" th:if="${cluster.ships.get(0).player.id == playerId}"
					th:id="${'skr-ingame-ships-details-' + cluster.x + '_' + cluster.y}">
					<div th:include="ingame/galaxymap/ships-mouseover::content" th:with="ships=${cluster.ships}"></div>
				</div>
			</div>

			<div th:each="ship : ${ships}" class="skr-ingame-ship-scan-circle"
				th:style="${@galaxyHelper.getCoordinatesStyle(ship.x, ship.y)}">
				<div class="skr-ingame-ship-scan-circle-inner"></div>
			</div>

			<div th:each="ship : ${ships}" class="skr-game-ship" th:id="${'skr-game-ship-' + ship.id}">
				<input type="hidden" th:value="${ship.x}" th:id="${'skr-game-ship-x-' + ship.id}" />
				<input type="hidden" th:value="${ship.y}" th:id="${'skr-game-ship-y-' + ship.id}" />
				<input type="hidden" th:if="${ship.player.id == playerId}" th:value="${ship.destinationX}"
					th:id="${'skr-game-ship-destinationx-' + ship.id}" />
				<input type="hidden" th:if="${ship.player.id == playerId}" th:value="${ship.destinationY}"
					th:id="${'skr-game-ship-destinationy-' + ship.id}" />
				<div class="skr-game-ship-line-wrapper"></div>
			</div>

			<div th:each="planet : ${planets}" th:style="${@galaxyHelper.getCoordinatesStyle(planet.x, planet.y)}"
				th:name="${planet.name}" class="skr-game-planet">
				<img th:src="${'/images/planets/galaxy/' + planet.type + '.gif'}" th:attr="planetid=${planet.id}"
					class="skr-game-planet-mouse">
				<div th:style="${'border-color: #' + planet.playerColor + ';'}" th:attr="planetid=${planet.id}"
					th:id="${'skr-ingame-planet-' + planet.id}"
					th:onclick="|ingame.select('planet', ${planet.id}, ${planet.x}, ${planet.y})|" class="owned skr-game-planet-mouse"
					th:if="${planet.playerId != null && planet.playerId == playerId}"></div>
				<div th:style="${'border-color: #' + planet.playerColor + ';'}" th:attr="planetid=${planet.id}"
					th:id="${'skr-ingame-planet-' + planet.id}" class="skr-game-planet-mouse"
					th:if="${planet.playerId != null && planet.playerId != playerId}"></div>

				<div th:style="${'border-color: #' + planet.playerColor + ';'}" th:attr="starbaseid=${planet.starbaseId}"
					th:id="${'skr-ingame-starbase-' + planet.starbaseId}"
					th:onclick="${planet.playerId == playerId} ? |ingame.select('starbase', ${planet.starbaseId}, ${planet.x}, ${planet.y})| : ''"
					class="starbase skr-game-starbase-mouse" th:if="${planet.starbaseId != null}"></div>

				<div th:style="${'border-color: #' + planet.shipPlayerColor + ';'}"
					th:id="${'skr-ingame-ship-' + planet.ships.get(0).id}"
					th:onclick="${planet.ships.get(0).player.id == playerId} ? |ingame.select('ship', ${planet.ships.get(0).id}, ${planet.x}, ${planet.y})| : ''"
					th:attr="shipid=${planet.ships.get(0).id}" class="ship ship-around-planet skr-game-ship-mouse"
					th:if="${planet.ships != null && planet.ships.size() == 1}" th:name="${planet.ships.get(0).name}"></div>
				<div th:style="${'border-color: #' + planet.shipPlayerColor + ';'}" th:attr="planetid=${planet.id}"
					th:onclick="${planet.ships.get(0).player.id == playerId} ? |ingame.select('ship-selection', 0, ${planet.x}, ${planet.y})| : ''"
					class="ship ships-around-planet skr-game-ships-mouse" th:if="${planet.ships != null && planet.ships.size() > 1}"
					th:name="${planet.retrieveShipNames()}"></div>

				<div class="skr-game-details-mouseover container" th:id="${'skr-ingame-planet-details-' + planet.id}">
					<div th:include="ingame/galaxymap/planet-mouseover::content" th:with="planet=${planet}"></div>
				</div>
				<div th:if="${planet.ships != null && planet.ships.size() == 1 && planet.ships.get(0).player.id == playerId}"
					class="skr-game-details-mouseover container" th:id="${'skr-ingame-ship-details-' + planet.ships.get(0).id}">
					<div th:include="ingame/galaxymap/ship-mouseover::content" th:with="ship=${planet.ships.get(0)}"></div>
				</div>
				<div th:if="${planet.ships != null && planet.ships.size() > 1 && planet.ships.get(0).player.id == playerId}"
					class="skr-game-details-mouseover container" th:id="${'skr-ingame-ships-details-' + planet.id}">
					<div th:include="ingame/galaxymap/ships-mouseover::content" th:with="ships=${planet.ships}"></div>
				</div>
				<div th:if="${planet.starbaseId != null && planet.playerId == playerId}"
					class="skr-game-details-mouseover container" th:id="${'skr-ingame-starbase-details-' + planet.starbaseId}">
					<div th:include="ingame/galaxymap/starbase-mouseover::content"
						th:with="starbaseName=${planet.starbaseName},starbaseLog=${planet.starbaseLog}"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>