<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" class="container no-gutters">
		<div class="row">
			<div class="col-12">
				<i class="fa-fw fa fa-globe"></i>
				<span th:text="${planet.name}">Planetenname</span>
			</div>
		</div>
		<div class="row no-gutters" th:if="${disablePermissionChecks || (planet.playerId != null && planet.playerId == playerId)}">
			<div class="col-12 skr-game-details-mouseover-content">
				<div class="row no-gutters">
					<div class="col-6">
						<i class="fa-fw fa fa-male"></i>
						<span th:text="${planet.colonists}">50000</span>
					</div>
				</div>
				<div class="row no-gutters">
					<div class="col-6">
						<i class="fa-fw fa fa-coins"></i>
						<span th:text="${planet.money}">50000</span>
					</div>
					<div class="col-6">
						<i class="fa-fw fa fa-cube"></i>
						<span th:text="${planet.supplies}">50000</span>
					</div>
				</div>
				<div class="row no-gutters">
					<div class="col-6">
						<i class="fa-fw fas fa-circle"></i>
						<span th:text="${planet.fuel} + ' (' + ${planet.untappedFuel} + ')'">50000</span>
					</div>
					<div class="col-6">
						<i class="fa-fw fas fa-certificate"></i>
						<span th:text="${planet.mineral1} + ' (' + ${planet.untappedMineral1} + ')'">50000</span>
					</div>
				</div>
				<div class="row no-gutters">
					<div class="col-6">
						<i class="fa-fw fas fa-square-full"></i>
						<span th:text="${planet.mineral2} + ' (' + ${planet.untappedMineral2} + ')'">50000</span>
					</div>
					<div class="col-6">
						<i class="fa-fw fas fa-play"></i>
						<span th:text="${planet.mineral3} + ' (' + ${planet.untappedMineral3} + ')'">50000</span>
					</div>
				</div>
				<div class="row no-gutters">
					<div class="col-6">
						<i class="fa-fw fas fa-monument"></i>
						<span th:text="${planet.mines} + (${planet.autoBuildMines} ? ' (auto)' : '')">50000</span>
					</div>
					<div class="col-6">
						<i class="fa-fw fa fa-industry"></i>
						<span th:text="${planet.factories} + (${planet.autoBuildFactories} ? ' (auto)' : '')">50000</span>
					</div>
				</div>
				<div class="row no-gutters">
					<div class="col-12">
						<i class="fa-fw fas fa-book-open"></i>
						<span th:text="${planet.log != null && planet.log.length() > 0} ? ${planet.log} : #{no_log_entry}">50000</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>