<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" class="container no-gutters">
		<div class="row">
			<div class="col-12">
				<i class="fa-fw fa fa-space-shuttle"></i>
				<span th:text="#{fleet}">Fleet</span>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col-12 skr-game-details-mouseover-content">
				<div class="row no-gutters" th:each="ship : ${ships}">
					<div class="col-6">
						<span th:text="${ship.name}">Schiffname</span>
						<span th:text="${ship.shipTemplate.name}">Schiffklasse</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>