<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" class="container-fluid">
		<input type="hidden" th:value="#{course_select_is_not_active}" id="skr-ship-courseselect-inactive-text" />
		<input type="hidden" th:value="#{course_select_is_active}" id="skr-ship-courseselect-active-text" />
		<input type="hidden" th:value="#{empty_space}" id="skr-ship-courseselect-emptyspace-text" />
		<input type="hidden" th:value="#{not_enough_fuel}" id="skr-ship-courseselect-notenoughfuel-text" />
		<input type="hidden" th:value="#{ship_destination_cycle_detected}" id="skr-ship-courseselect-cycle-detected-text" />

		<input type="hidden" th:value="${ship.shipTemplate.mass}" id="skr-ship-courseselect-mass" />
		<input type="hidden" th:value="${ship.name}" id="skr-ship-courseselect-shipname" />
		<input type="hidden" th:value="${ship.fuel}" id="skr-ship-courseselect-fuel" />
		<input type="hidden" th:value="${ship.x}" id="skr-ship-courseselect-shipx" />
		<input type="hidden" th:value="${ship.y}" id="skr-ship-courseselect-shipy" />
		<input type="hidden" th:value="${ship.destinationX}" id="skr-ship-courseselect-destinationx" />
		<input type="hidden" th:value="${ship.destinationY}" id="skr-ship-courseselect-destinationy" />
		<input type="hidden" th:value="${destinationName}" id="skr-ship-courseselect-destination-name" />

		<input type="hidden" th:value="${fuelConsumptionData}" id="skr-ship-courseselect-fuelconsumptiondata" />

		<div class="row">
			<div class="col-md-7">
				<div class="row">
					<div class="col-12 form-check">
						<input type="checkbox" class="form-check-input" id="skr-ship-courseselect-checkbox" />
						<label for="skr-ship-courseselect-checkbox" class="form-check-label" id="skr-ship-courseselect-checkbox-label" th:text="#{course_select_is_not_active}">Kursmodus ist nicht aktiviert</label>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<div th:text="#{destination_coordinates}">Zielkoordinaten</div>
						<div id="skr-ship-courseselect-coordinates">- / -</div>
					</div>
					<div class="col-6">
						<div th:text="#{distance}">Entfernung</div>
						<div id="skr-ship-courseselect-distance">-</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<div th:text="#{destination_name}">Zielbezeichnung</div>
						<div id="skr-ship-courseselect-name">-</div>
					</div>
					<div class="col-6">
						<div th:text="#{speed}">Geschwindigkeit</div>
						<select class="custom-select" id="skr-ship-courseselect-speed-select">
							<option th:each="speed : ${#numbers.sequence(1, ship.propulsionSystemTemplate.warpSpeed)}" th:selected="${ship.travelSpeed == speed}" th:value="${speed}" th:text="#{warp} + ' ' + ${speed}">Warp 1</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<div class="row">
					<div class="col-12">
						<div th:text="#{duration}">Dauer</div>
						<div id="skr-ship-courseselect-duration">-</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div th:text="#{fuel_consumption}">Leminverbrauch</div>
						<div id="skr-ship-courseselect-fuelconsumption">0</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<button type="button" class="btn btn-default" id="skr-ingame-ship-save-course-button" th:text="#{set_course}" onclick="shipNavigation.setCourse()">Kurs setzen</button>
						<button type="button" class="btn btn-danger" disabled id="skr-ship-courseselect-delete-course" th:text="#{delete_course}" onclick="shipNavigation.deleteCourse()">Kurs löschen</button>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../js/modules/ingame/ship/navigation.js" th:src="@{/js/modules/ingame/ship/navigation.js}"></script>
	</div>
</body>
</html>