<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="no-objects" class="container-fluid">
		<div class="skr-game-selection-message" th:text="#{no_objects_in_scanner_range}">Keine Objekte in
			Scannerreicheweite</div>
	</div>
	<div th:fragment="content" class="container-fluid" id="skr-game-ship-scanner">
		<div class="row skr-ship-scanner-planet-details" th:each="planet : ${planets}">
			<div class="col-2">
				<img th:src="${planet.createFullImagePath()}"
					th:style="${planet.player != null ? ('border-color: #' + planet.player.color + ';') : ''}" />
			</div>
			<div class="col-6">
				<div class="row">
					<div class="col-6" th:text="#{name}">Name</div>
					<div class="col-6" th:text="${planet.name}">Planetenname</div>
				</div>
				<div class="row">
					<div class="col-6" th:text="#{coordinates}">Koordinaten</div>
					<div class="col-6" th:text="${planet.x + ' / ' + planet.y}">12 / 34</div>
				</div>
				<div class="row">
					<div class="col-6" th:text="#{temperature}">Temperatur</div>
					<div class="col-6" th:text="${planet.temperature + '°C'}">25°C</div>
				</div>
			</div>
			<div class="col-3">
				<button type="button" class="btn btn-default" th:onclick="|shipScanner.showPlanetDetails(${planet.id})|"
					th:text="#{details}">Details</button>
			</div>
		</div>
		<div class="row skr-ship-scanner-ship-details" th:each="ship : ${ships}">
			<div class="col-2">
				<img th:src="${ship.createFullImagePath().replace('.jpg', '_klein.jpg')}"
					th:style="${'border-color: #' + ship.player.color + ';'}" />
			</div>
			<div class="col-6">
				<div class="row">
					<div class="col-6" th:text="#{class}">Klasse</div>
					<div class="col-6" th:text="${ship.shipTemplate.name}">Schiffklasse</div>
				</div>
				<div class="row">
					<div class="col-6" th:text="#{coordinates}">Koordinaten</div>
					<div class="col-6" th:text="${ship.x + ' / ' + ship.y}">12 / 34</div>
				</div>
				<div class="row">
					<div class="col-6" th:text="#{max_warp}">Max. Warp</div>
					<div class="col-6" th:text="${ship.propulsionSystemTemplate.warpSpeed}">7</div>
				</div>
			</div>
			<div class="col-3">
				<button type="button" class="btn btn-default" th:onclick="|shipScanner.showShipDetails(${ship.id})|"
					th:text="#{details}">Details</button>
			</div>
		</div>
		<script type="text/javascript" src="../js/modules/ingame/ship/scanner.js"
			th:src="@{/js/modules/ingame/ship/scanner.js}"></script>
	</div>
	<div th:fragment="planet" class="container-fluid">
		<div class="row">
			<div class="col-3">
				<div class="row">
					<div class="col-12 text-center">
						<b th:text="${planet.name}">Planetname</b>
					</div>
					<div class="col-12">
						<img th:src="${planet.createFullImagePath()}" />
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="row">
					<div class="col-md-7">
						<label th:text="#{colonists}">Kolonisten</label>
					</div>
					<div class="col-md-5 text-right">
						<span th:text="${planet.colonists}">50000</span>
						<i class="fa-fw fa fa-male"></i>
					</div>
				</div>
				<div class="row">
					<div class="col-md-7">
						<label th:text="#{mines}">Minen</label>
					</div>
					<div class="col-md-5 text-right">
						<span th:text="${planet.mines}">5</span>
						<i class="fa-fw fas fa-monument"></i>
					</div>
				</div>
				<div class="row">
					<div class="col-md-7">
						<label th:text="#{factories}">Fabriken</label>
					</div>
					<div class="col-md-5 text-right">
						<span th:text="${planet.factories}">5</span>
						<i class="fa-fw fa fa-industry"></i>
					</div>
				</div>
				<div class="row">
					<div class="col-md-7">
						<label th:text="#{planetary_defense}">Planetare Verteid.</label>
					</div>
					<div class="col-md-5 text-right">
						<span th:text="${planet.planetaryDefense}">5</span>
						<i class="fa-fw fab fa-fort-awesome"></i>
					</div>
				</div>
			</div>
			<div class="col-4 resource-density">
				<div class="row">
					<div class="col-5">
						<label th:text="#{fuel}">Lemin</label>
					</div>
					<div class="col-7">
						<div class="untapped-resource fuel" th:style="|width: ${planet.retrieveUntappedFuelDensityPercentage()}%|"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-5">
						<label th:text="#{mineral1}">Baxterium</label>
					</div>
					<div class="col-7">
						<div class="untapped-resource mineral1" th:style="|width: ${planet.retrieveUntappedMineral1DensityPercentage()}%|"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-5">
						<label th:text="#{mineral2}">Rennurbin</label>
					</div>
					<div class="col-7">
						<div class="untapped-resource mineral2" th:style="|width: ${planet.retrieveUntappedMineral2DensityPercentage()}%|"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-5">
						<label th:text="#{mineral3}">Vomisaan</label>
					</div>
					<div class="col-7">
						<div class="untapped-resource mineral3" th:style="|width: ${planet.retrieveUntappedMineral3DensityPercentage()}%|"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:fragment="ship" class="container-fluid">
		<div class="row">
			<div class="col-3">
				<div class="row">
					<div class="col-md-5">
						<label th:text="#{name}">Name</label>
					</div>
					<div class="col-md-7 text-right">
						<span th:text="${ship.name}">Shipname</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<label th:text="#{damage}">Damage</label>
					</div>
					<div class="col-md-7 text-right">
						<span th:text="|${ship.damage}%|">0%</span>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<img th:src="${ship.createFullImagePath().replace('.jpg', '_klein.jpg')}" />
					</div>
				</div>
			</div>
			<div class="col-3 border-left border-right">
				<div class="row">
					<div class="col-md-6">
						<label th:text="#{crew}">Crew</label>
					</div>
					<div class="col-md-6 text-right">
						<span th:text="${ship.crew}">10</span>
						<i class="fa-fw fa fa-male"></i>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<label th:text="#{mass}">Mass</label>
					</div>
					<div class="col-md-6 text-right">
						<span th:text="${ship.shipTemplate.mass}">100</span>
						<i class="fa-fw fas fa-weight-hanging"></i>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<label th:text="#{fuel}">Fuel</label>
					</div>
					<div class="col-md-6 text-right">
						<span th:text="${ship.fuel}">50</span>
						<i class="fa-fw fas fa-circle"></i>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<label th:text="#{goods}">Goods</label>
					</div>
					<div class="col-md-6 text-right">
						<span th:text="${ship.retrieveTotalGoods()}">120</span>
						<i class="fa-fw fa fa-cube"></i>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="row">
					<div class="col-md-5">
						<label th:text="#{propulsion_system}">Propulsion system</label>
					</div>
					<div class="col-md-7 text-right">
						<span th:text="#{${ship.propulsionSystemTemplate.name}}">Solarisplasmotan</span>
						<i class="fa-fw fas fa-angle-double-right"></i>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<label th:text="#{energy_weapons}">Energy weapons</label>
					</div>
					<div class="col-md-7 text-right">
						<span th:text="${ship.energyWeaponTemplate != null} ? #{${ship.energyWeaponTemplate.name}} : '-'">Laser</span>
						<i class="fa-fw fas fa-bolt"></i>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<label th:text="#{projectile_weapons}">Projectile weapons</label>
					</div>
					<div class="col-md-7 text-right">
						<span th:text="${ship.projectileWeaponTemplate != null} ? #{${ship.projectileWeaponTemplate.name}} : '-'">Fusion rockets</span>
						<i class="fa-fw fas fa-rocket"></i>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<label th:text="#{hangar}">Hangar</label>
					</div>
					<div class="col-md-7 text-right">
						<span th:text="${ship.shipTemplate.hangarCapacity}">2</span>
						<i class="fa-fw fab fa-gitter"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>