<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" class="container-fluid">
		<div class="row">
			<div class="col-lg-4">
				<div class="row">
					<div class="col-md-6">
						<h5 th:text="${ship.name}">Schiffname</h5>
						<a th:text="${ship.shipTemplate.name}">Klassenname</a>
						<div th:text="#{no_mission}">Kein Auftrag</div>
						<img th:src="${ship.createFullImagePath().replace('.jpg', '_klein.jpg')}" />
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-12"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="card">
					<div class="card-body">
						<div class="row selection-button">
							<div class="col-8">
								<div class="row">
									<div class="col-4 text-center">
										<button type="button" th:disabled="${turnDone}" id="skr-ingame-ship-navigation-button"
											onclick="ship.show('navigation')" th:title="#{navigation}">
											<i class="fa-fw fas fa-arrows-alt"></i>
										</button>
									</div>
									<div class="col-4 text-center">
										<button type="button" th:disabled="${turnDone}" id="skr-ingame-ship-specialmission-button" onclick="ship.show('special-mission')"
											th:title="#{special_mission}">
											<i class="fa-fw fas fa-crosshairs"></i>
										</button>
									</div>
									<div class="col-4 text-center">
										<button type="button" th:disabled="${turnDone}" id="skr-ingame-ship-routing-button" onclick="ship.show('routing')" th:title="#{routing}">
											<i class="fa-fw fas fa-retweet"></i>
										</button>
									</div>
								</div>
								<div class="row">
									<div class="col-4 text-center selection-button-bottom">
										<button type="button" id="skr-ingame-ship-scanner-button" onclick="ship.show('scanner')" th:title="#{scanner}">
											<i class="fa-fw fab fa-searchengin"></i>
										</button>
									</div>
									<div class="col-4 text-center selection-button-bottom">
										<button type="button" th:disabled="${turnDone}" id="skr-ingame-ship-transporter-button" onclick="ship.show('transporter')"
											th:title="#{transporter}">
											<i class="fa-fw fas fa-exchange-alt"></i>
										</button>
									</div>
									<div class="col-4 text-center selection-button-bottom">
										<button type="button" id="skr-ingame-ship-logbook-button" onclick="ship.show('logbook')"
											th:title="#{log_book}">
											<i class="fa-fw fas fa-book-open"></i>
										</button>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="row" id="skr-ship-small-icons">
									<div class="col-5 text-center">
										<button type="button" th:disabled="${turnDone}" id="skr-ingame-ship-energyweapons-button" onclick="ship.show('energy-weapons')"
											th:title="#{energy_weapons}">
											<i class="fa-fw fas fa-bolt"></i>
										</button>
									</div>
									<div class="col-5 text-center">
										<button type="button" th:disabled="${turnDone}" id="skr-ingame-ship-projectileweapons-button" onclick="ship.show('projectile-weapons')"
											th:title="#{projectile_weapons}">
											<i class="fa-fw fas fa-rocket"></i>
										</button>
									</div>
									<div class="col-5 text-center">
										<button type="button" th:disabled="${turnDone}" id="skr-ingame-ship-tactics-button" onclick="ship.show('tactics')" th:title="#{tactics}">
											<i class="fa-fw fas fa-signal"></i>
										</button>
									</div>
									<div class="col-5 text-center ">
										<button type="button" th:disabled="${turnDone}" id="skr-ingame-ship-propulsion-button" onclick="ship.show('propulsion')"
											th:title="#{propulsion_system}">
											<i class="fa-fw fas fa-angle-double-right"></i>
										</button>
									</div>
									<div class="col-5 text-center ">
										<button type="button" id="skr-ingame-ship-storage-button" onclick="ship.show('storage')" th:title="#{storage}">
											<i class="fa-fw fa fa-cube"></i>
										</button>
									</div>
									<div class="col-5 text-center ">
										<button type="button" id="skr-ingame-ship-options-button" onclick="ship.show('options')" th:title="#{options}">
											<i class="fa-fw fas fa-cog"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5 skr-ingame-selection-panel" id="skr-ship-selection"></div>
		</div>
		<script type="text/javascript" src="../js/modules/ingame/ship/ship.js" th:src="@{/js/modules/ingame/ship/ship.js}"></script>
	</div>
</body>
</html>