<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="cannot-transport" class="container-fluid">
		<div class="skr-game-selection-message" th:text="#{no_objects_in_transporter_range}">Keine Objekte in Transporterreicheweite</div>
	</div>
	<div th:fragment="transport-successfull" class="container-fluid">
		<div class="skr-game-selection-message" id="skr-ingame-ship-transport-success" th:text="#{transport_successfull}">Transport erfolgreich</div>
	</div>
	<div th:fragment="content" class="container-fluid" id="skr-game-ship-transporter">
		<input type="hidden" id="skr-game-ship-transporter-fuelmessage" th:value="#{fuel_capacity_exceeded}" />
		<input type="hidden" id="skr-game-ship-transporter-storagemessage" th:value="#{storage_space_exceeded}" />
		<div class="row">
			<div class="col-2 text-center">
				<img th:src="${ship.createFullImagePath().replace('.jpg', '_klein.jpg')}" />
			</div>
			<div class="col-8 text-center">
				<div>
					<span th:text="#{storage_space}">Frachtraum</span>: <span id="skr-game-ship-transporter-storagespace" th:text="${ship.shipTemplate.storageSpace}">123</span>
				</div>
				<div>
					<span th:text="#{fuel_tank}">Tank</span>: <span id="skr-game-ship-transporter-fuelcapacity" th:text="${ship.shipTemplate.fuelCapacity}">123</span>
				</div>
			</div>
			<div class="col-2 text-center">
				<img th:src="${ship.planet.createFullImagePath()}">
			</div>
		</div>
		<div class="row">
			<div class="col-2 text-center">
				<i class="fa-fw fas fa-circle"></i>
				<div th:text="${ship.fuel}" id="ship-label-slider-fuel">0</div>
			</div>
			<div class="col-8">
				<input type="range" class="form-control-range" id="slider-fuel" th:max="${ship.planet.fuel + ship.fuel}" th:value="${ship.planet.fuel}">
			</div>
			<div class="col-2 text-center">
				<i class="fa-fw fas fa-circle"></i>
				<div th:text="${ship.planet.fuel}" id="planet-label-slider-fuel">0</div>
			</div>
		</div>
		<div class="row">
			<div class="col-2 text-center">
				<i class="fa-fw fa fa-male"></i>
				<div th:text="${ship.colonists}" id="ship-label-slider-colonists">0</div>
			</div>
			<div class="col-8">
				<input type="range" class="form-control-range" id="slider-colonists" th:if="${isOwnPlanet}" th:max="${ship.planet.colonists + ship.colonists}" th:value="${ship.planet.colonists}">
				<input type="range" class="form-control-range" id="slider-colonists" th:if="${!isOwnPlanet}" th:max="${ship.planet.newColonists + ship.colonists}" th:value="${ship.planet.newColonists}">
			</div>
			<div class="col-2 text-center">
				<i class="fa-fw fa fa-male"></i>
				<div th:text="${isOwnPlanet ? ship.planet.colonists : ship.planet.newColonists}" id="planet-label-slider-colonists">0</div>
			</div>
		</div>
		<div class="row">
			<div class="col-2 text-center">
				<i class="fa-fw fa fa-coins"></i>
				<div th:text="${ship.money}" id="ship-label-slider-money">0</div>
			</div>
			<div class="col-8">
				<input type="range" class="form-control-range" id="slider-money" th:max="${ship.planet.money + ship.money}" th:value="${ship.planet.money}">
			</div>
			<div class="col-2 text-center">
				<i class="fa-fw fa fa-coins"></i>
				<div th:text="${ship.planet.money}" id="planet-label-slider-money">0</div>
			</div>
		</div>
		<div class="row">
			<div class="col-2 text-center">
				<i class="fa-fw fa fa-cube"></i>
				<div th:text="${ship.supplies}" id="ship-label-slider-supplies">0</div>
			</div>
			<div class="col-8">
				<input type="range" class="form-control-range" id="slider-supplies" th:max="${ship.planet.supplies + ship.supplies}" th:value="${ship.planet.supplies}">
			</div>
			<div class="col-2 text-center">
				<i class="fa-fw fa fa-cube"></i>
				<div th:text="${ship.planet.supplies}" id="planet-label-slider-supplies">0</div>
			</div>
		</div>
		<div class="row">
			<div class="col-2 text-center">
				<i class="fa-fw fas fa-certificate"></i>
				<div th:text="${ship.mineral1}" id="ship-label-slider-mineral1">0</div>
			</div>
			<div class="col-8">
				<input type="range" class="form-control-range" id="slider-mineral1" th:max="${ship.planet.mineral1 + ship.mineral1}" th:value="${ship.planet.mineral1}">
			</div>
			<div class="col-2 text-center">
				<i class="fa-fw fas fa-certificate"></i>
				<div th:text="${ship.planet.mineral1}" id="planet-label-slider-mineral1">0</div>
			</div>
		</div>
		<div class="row">
			<div class="col-2 text-center">
				<i class="fa-fw fas fa-square-full"></i>
				<div th:text="${ship.mineral2}" id="ship-label-slider-mineral2">0</div>
			</div>
			<div class="col-8">
				<input type="range" class="form-control-range" id="slider-mineral2" th:max="${ship.planet.mineral2 + ship.mineral2}" th:value="${ship.planet.mineral2}">
			</div>
			<div class="col-2 text-center">
				<i class="fa-fw fas fa-square-full"></i>
				<div th:text="${ship.planet.mineral2}" id="planet-label-slider-mineral2">0</div>
			</div>
		</div>
		<div class="row">
			<div class="col-2 text-center">
				<i class="fa-fw fas fa-play"></i>
				<div th:text="${ship.mineral3}" id="ship-label-slider-mineral3">0</div>
			</div>
			<div class="col-8">
				<input type="range" class="form-control-range" id="slider-mineral3" th:max="${ship.planet.mineral3 + ship.mineral3}" th:value="${ship.planet.mineral3}">
			</div>
			<div class="col-2 text-center">
				<i class="fa-fw fas fa-play"></i>
				<div th:text="${ship.planet.mineral3}" id="planet-label-slider-mineral3">0</div>
			</div>
		</div>
		<div class="row">
			<div class="col-2 text-center">
				<i class="fa-fw fa fa-male skr-light-ground-units"></i>
				<div th:text="${ship.lightGroundUnits}" id="ship-label-slider-light-ground-units">0</div>
			</div>
			<div class="col-8">
				<input type="range" class="form-control-range" id="slider-light-ground-units" th:max="${ship.planet.lightGroundUnits + ship.lightGroundUnits}" th:value="${ship.planet.lightGroundUnits}">
			</div>
			<div class="col-2 text-center">
				<i class="fa-fw fa fa-male skr-light-ground-units"></i>
				<div th:text="${ship.planet.lightGroundUnits}" id="planet-label-slider-light-ground-units">0</div>
			</div>
		</div>
		<div class="row">
			<div class="col-2 text-center">
				<i class="fa-fw fa fa-male skr-heavy-ground-units"></i>
				<div th:text="${ship.heavyGroundUnits}" id="ship-label-slider-heavy-ground-units">0</div>
			</div>
			<div class="col-8">
				<input type="range" class="form-control-range" id="slider-heavy-ground-units" th:max="${ship.planet.heavyGroundUnits + ship.heavyGroundUnits}" th:value="${ship.heavyGroundUnits}">
			</div>
			<div class="col-2 text-center">
				<i class="fa-fw fa fa-male skr-heavy-ground-units"></i>
				<div th:text="${ship.planet.heavyGroundUnits}" id="planet-label-slider-heavy-ground-units">0</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center">
				<button type="button" class="btn btn-default" id="skr-ingame-ship-finish-transport-button" onclick="shipTransporter.finishTransport()" th:text="#{finish_transport}">Transport abschließen</button>
			</div>
		</div>
		<script type="text/javascript" src="../js/modules/ingame/ship/transporter.js" th:src="@{/js/modules/ingame/ship/transporter.js}"></script>
	</div>
</body>
</html>