<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" class="container-fluid">
		<div class="row">
			<div class="col-12">
				<table class="table">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">TL</th>
							<th scope="col">
								<i class="fa-fw fa fa-coins"></i>
							</th>
							<th scope="col">
								<i class="fa-fw fas fa-certificate"></i>
							</th>
							<th scope="col">
								<i class="fa-fw fas fa-square-full"></i>
							</th>
							<th scope="col">
								<i class="fa-fw fas fa-play"></i>
							</th>
							<th scope="col" th:text="#{stock}">Lager</th>
							<th scope="col"></th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="entry : ${data}" class="skr-ingame-starbase-production-item">
							<td class="skr-ingame-starbase-production-item-name" th:text="${entry.type.name().equals('HULL')} ? ${entry.name} : #{${entry.name}}"></td>
							<td th:text="${entry.techLevel}"></td>
							<td th:text="${entry.costMoney}"></td>
							<td th:text="${entry.costMineral1}"></td>
							<td th:text="${entry.costMineral2}"></td>
							<td th:text="${entry.costMineral3}"></td>
							<td th:text="${entry.stock}"></td>
							<td>
								<select class="custom-select skr-starbase-production-quantity-select" th:if="${entry.producableQuantity > 0}"
									th:id="${'skr-starbase-production-quantity-' + entry.id}">
									<option th:each="q : ${#numbers.sequence(1, entry.producableQuantity)}" th:value="${q}" th:text="${q}">1</option>
								</select>
							</td>
							<td>
								<button type="button" th:if="${entry.producableQuantity > 0}" th:data1="${entry.id}"
									th:data2="${entry.type.name()}" th:text="#{produce}" class="skr-ingame-starbase-produce-button"
									th:onclick="|starbaseProduction.produce(this.getAttribute('data1'), this.getAttribute('data2'))|">Produzieren</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<script type="text/javascript" src="../js/modules/ingame/starbase/production.js"
			th:src="@{/js/modules/ingame/starbase/production.js}"></script>
	</div>
</body>
</html>