<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="success" class="container-fluid">
		<div class="skr-game-selection-message" id="skr-starbase-shipconstruction-success-message" th:text="#{ship_job_created}">Das Schiff wurde erfolgreich in Auftrag gegeben.</div>
	</div>
	<div th:fragment="ship-job-exists" class="container-fluid">
		<div class="skr-game-selection-message" th:text="#{ship_already_being_built}">Es befindet sich bereits ein Schiff in der Werft.</div>
	</div>
	<div th:fragment="hull-selection" class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<label th:text="#{select_hull}">Rumpf wählen</label>
			</div>
			<div class="col-md-8">
				<select class="custom-select" id="skr-starbase-shipconstruction-hull-select">
					<option th:each="hull : ${starbase.hullStocks}" th:value="${hull.id}" th:text="${hull.shipTemplate.name}">Frachter</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<button type="button" class="btn btn-default" id="skr-ingame-starbase-shipconstruction-hull-select-button" th:text="#{continue_to_component_selection}" onclick="starbaseShipConstruction.selectHull()">Weiter zur Komponentenauswahl</button>
			</div>
		</div>
		<script type="text/javascript" src="../js/modules/ingame/starbase/shipconstruction.js" th:src="@{/js/modules/ingame/starbase/shipconstruction.js}"></script>
	</div>
	<div th:fragment="content" class="container-fluid" id="skr-starbase-shipconstruction-content">
		<form action="#" id="skr-starbase-shipconstruction-form">
			<input type="hidden" th:value="${hullStock.id}" id="skr-starbase-shipconstruction-hull-id" />
			<div class="row">
				<div class="col-4">
					<label th:text="#{ship_name}">Schiffname</label>
				</div>
				<div class="col-8">
					<input type="text" class="form-control" id="skr-starbase-shipconstruction-shipname-input" maxlength="64" required />
					<div class="invalid-tooltip" th:text="#{name_must_be_submitted}">Name muss angegeben werden!</div>
				</div>
			</div>
			<div class="row">
				<div class="col-1">
					<i class="fa-fw fas fa-bolt"></i>
				</div>
				<div class="col-5">
					<label th:if="${hullStock.shipTemplate.energyWeaponsCount == 0}" th:text="#{not_needed}">nicht benötigt</label>
					<label th:if="${hullStock.shipTemplate.energyWeaponsCount > 0 && energyWeapons.size() == 0}" class="text-danger">
						<b th:text="${hullStock.shipTemplate.energyWeaponsCount} + ' ' + #{needed}">5 werden benötigt</b>
					</label>
					<select th:if="${hullStock.shipTemplate.energyWeaponsCount > 0 && energyWeapons.size() > 0}" class="custom-select" id="skr-starbase-shipconstruction-energy-select">
						<option th:each="energyWeapon : ${energyWeapons}" th:value="${energyWeapon.id}" th:text="#{${energyWeapon.weaponTemplate.name}}">Laser</option>
					</select>
				</div>
				<div class="col-1">
					<i class="fa-fw fas fa-angle-double-right"></i>
				</div>
				<div class="col-5">
					<label th:if="${propulsionSystems.size() == 0}" class="text-danger">
						<b th:text="${hullStock.shipTemplate.propulsionSystemsCount} + ' ' + #{needed}">5 werden benötigt</b>
					</label>
					<select th:if="${propulsionSystems.size() > 0}" class="custom-select" id="skr-starbase-shipconstruction-propulsion-select">
						<option th:each="propulsionSystem : ${propulsionSystems}" th:value="${propulsionSystem.id}" th:text="#{${propulsionSystem.propulsionSystemTemplate.name}}">Laser</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-1">
					<i class="fa-fw fas fa-rocket"></i>
				</div>
				<div class="col-5">
					<label th:if="${hullStock.shipTemplate.projectileWeaponsCount == 0}" th:text="#{not_needed}">nicht benötigt</label>
					<label th:if="${hullStock.shipTemplate.projectileWeaponsCount > 0 && projectileWeapons.size() == 0}" class="text-danger">
						<b th:text="${hullStock.shipTemplate.projectileWeaponsCount} + ' ' + #{needed}">5 werden benötigt</b>
					</label>
					<select th:if="${hullStock.shipTemplate.projectileWeaponsCount > 0 && projectileWeapons.size() > 0}" class="custom-select" id="skr-starbase-shipconstruction-projectile-select">
						<option th:each="projectileWeapon : ${projectileWeapons}" th:value="${projectileWeapon.id}" th:text="#{${projectileWeapon.weaponTemplate.name}}">Laser</option>
					</select>
				</div>
				<div class="col-6">
					<button type="button" th:disabled="${shipCannotBeBuild}" id="skr-starbase-shipconstruction-build-button" class="btn btn-default" onclick="starbaseShipConstruction.construct()" th:text="#{build_ship}">Schiff bauen</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>