<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" class="container-fluid">
		<div class="row">
			<div class="col-lg-5">
				<div class="row">
					<div class="col-md-8">
						<div class="row">
							<div class="col-6">
								<div class="row">
									<div class="col-md-4">
										<label th:text="#{money}">Cantox</label>
									</div>
									<div class="col-md-8 text-right">
										<span th:text="${starbase.planet.money}">15000</span>
										<i class="fa-fw fa fa-coins"></i>
									</div>
									<div class="col-md-4">
										<label th:text="#{mineral2}">Rennurbin</label>
									</div>
									<div class="col-md-8 text-right">
										<span th:text="${starbase.planet.mineral2}">1000</span>
										<i class="fa-fw fas fa-square-full"></i>
									</div>
								</div>
							</div>
							<div class="col-6 border-left">
								<div class="row">
									<div class="col-md-4">
										<label th:text="#{mineral1}">Baxterium</label>
									</div>
									<div class="col-md-8 text-right">
										<span th:text="${starbase.planet.mineral1}">1000</span>
										<i class="fa-fw fas fa-certificate"></i>
									</div>
									<div class="col-md-4">
										<label th:text="#{mineral3}">Vomisaan</label>
									</div>
									<div class="col-md-8 text-right">
										<span th:text="${starbase.planet.mineral3}">1000</span>
										<i class="fa-fw fas fa-play"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 border-left">
						<div class="row">
							<div class="col-md-7">
								<label th:text="#{hull_level}">Rumpf-Level</label>
							</div>
							<div class="col-md-5 text-right">
								<span th:text="${starbase.hullLevel}">1</span>
								<i class="fa-fw fas fa-space-shuttle"></i>
							</div>
						</div>
						<div class="row">
							<div class="col-md-7">
								<label th:text="#{propulsion_level}">Antriebs-Level</label>
							</div>
							<div class="col-md-5 text-right">
								<span th:text="${starbase.propulsionLevel}">1</span>
								<i class="fa-fw fas fa-angle-double-right"></i>
							</div>
						</div>
						<div class="row">
							<div class="col-md-7">
								<label th:text="#{energy_level}">Energie-Level</label>
							</div>
							<div class="col-md-5 text-right">
								<span th:text="${starbase.energyLevel}">1</span>
								<i class="fa-fw fas fa-bolt"></i>
							</div>
						</div>
						<div class="row">
							<div class="col-md-7">
								<label th:text="#{projectile_level}">Projektile-Level</label>
							</div>
							<div class="col-md-5 text-right">
								<span th:text="${starbase.projectileLevel}">1</span>
								<i class="fa-fw fas fa-rocket"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-2 selection-button">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-6 col-sm-4 text-center">
								<button type="button" th:disabled="${turnDone}" onclick="starbase.show('upgrade')"
									id="skr-ingame-starbase-upgrade-button" th:title="#{tech_level}">
									<i class="fa-fw fas fa-project-diagram"></i>
								</button>
							</div>
							<div class="col-6 col-sm-4 text-center" onclick="starbase.planet.showInfo()"
								id="skr-ingame-starbase-defensesystems-button" th:title="#{defense_systems}">
								<button type="button" th:disabled="${turnDone}">
									<i class="fa-fw fab fa-fort-awesome"></i>
								</button>
							</div>
							<div class="col-6 col-sm-4 text-center" onclick="starbase.planet.showInfo()"
								id="skr-ingame-starbase-spacefold-button" th:title="#{space_fold_technology}">
								<button type="button" th:disabled="${turnDone}">
									<i class="fa-fw fas fa-exchange-alt"></i>
								</button>
							</div>
						</div>
						<div class="row">
							<div class="col-6 col-sm-4 selection-button-small" id="skr-starbase-small-icons">
								<div class="row">
									<div class="col-6">
										<button type="button" th:disabled="${turnDone}" onclick="starbase.show('production-hull')"
											id="skr-ingame-starbase-hullproduction-button" th:title="#{hulls}">
											<i class="fa-fw fas fa-space-shuttle"></i>
										</button>
									</div>
									<div class="col-6">
										<button type="button" th:disabled="${turnDone}" onclick="starbase.show('production-propulsion')"
											id="skr-ingame-starbase-propulsionproduction-button" th:title="#{propulsion_systems}">
											<i class="fa-fw fas fa-angle-double-right"></i>
										</button>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<button type="button" th:disabled="${turnDone}" onclick="starbase.show('production-energyweapon')"
											id="skr-ingame-starbase-energyweaponproduction-button" th:title="#{energy_weapons}">
											<i class="fa-fw fas fa-bolt"></i>
										</button>
									</div>
									<div class="col-6">
										<button type="button" th:disabled="${turnDone}" onclick="starbase.show('production-projectileweapon')"
											id="skr-ingame-starbase-projectileweaponproduction-button" th:title="#{projectile_weapons}">
											<i class="fa-fw fas fa-rocket"></i>
										</button>
									</div>
								</div>
							</div>
							<div class="col-6 col-sm-4 text-center selection-button-bottom">
								<button type="button" th:disabled="${turnDone}" onclick="starbase.show('shipconstruction')"
									id="skr-ingame-starbase-shipconstruction-button" th:title="#{produce_ship}">
									<i class="fa-fw fas fa-space-shuttle"></i>
								</button>
							</div>
							<div class=" col-6 col-sm-4 text-center selection-button-bottom">
								<button type="button" th:disabled="${turnDone}" id="skr-ingame-starbase-logbook-button"
									onclick="starbase.show('logbook')" th:title="#{log_book}">
									<i class="fa-fw fas fa-book-open"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5 skr-ingame-selection-panel" id="skr-starbase-selection"></div>
		</div>
		<script type="text/javascript" src="../js/modules/ingame/starbase/starbase.js"
			th:src="@{/js/modules/ingame/starbase/starbase.js}"></script>
	</div>
</body>
</html>