<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" class="container-fluid">
		<div class="row">
			<div class="col-8">
				<div class="row no-gutters">
					<div class="col-md-4">
						<label th:text="#{hull_level}">Rumpf-Level</label>
					</div>
					<div class="col-md-2">
						<span th:text="${starbase.hullLevel}">1</span>
						<i class="fa-fw fas fa-space-shuttle"></i>
					</div>
					<div class="col-md-6">
						<select class="custom-select" id="skr-starbase-upgrade-hull-select" th:if="${starbase.hullLevel < 10 && hullCosts.size() > 0}">
							<option value="0"></option>
							<option th:each="level : ${hullCosts}" th:value="${level.number}" th:text="${level.number} + ': ' + ${level.money} + ' ' + #{money}"></option>
						</select>
					</div>
				</div>
				<div class="row no-gutters">
					<div class="col-md-4">
						<label th:text="#{propulsion_level}">Antriebs-Level</label>
					</div>
					<div class="col-md-2">
						<span th:text="${starbase.propulsionLevel}">1</span>
						<i class="fa-fw fas fa-angle-double-right"></i>
					</div>
					<div class="col-md-6">
						<select class="custom-select" id="skr-starbase-upgrade-propulsion-select" th:if="${starbase.propulsionLevel < 10 && propulsionCosts.size() > 0}">
							<option value="0"></option>
							<option th:each="level : ${propulsionCosts}" th:value="${level.number}" th:text="${level.number} + ': ' + ${level.money} + ' ' + #{money}"></option>
						</select>
					</div>
				</div>
				<div class="row no-gutters">
					<div class="col-md-4">
						<label th:text="#{energy_level}">Energie-Level</label>
					</div>
					<div class="col-md-2">
						<span th:text="${starbase.energyLevel}">1</span>
						<i class="fa-fw fas fa-bolt"></i>
					</div>
					<div class="col-md-6">
						<select class="custom-select" id="skr-starbase-upgrade-energy-select" th:if="${starbase.energyLevel < 10 && energyCosts.size() > 0}">
							<option value="0"></option>
							<option th:each="level : ${energyCosts}" th:value="${level.number}" th:text="${level.number} + ': ' + ${level.money} + ' ' + #{money}"></option>
						</select>
					</div>
				</div>
				<div class="row no-gutters">
					<div class="col-md-4">
						<label th:text="#{projectile_level}">Projektile-Level</label>
					</div>
					<div class="col-md-2">
						<span th:text="${starbase.projectileLevel}">1</span>
						<i class="fa-fw fas fa-rocket"></i>
					</div>
					<div class="col-md-6">
						<select class="custom-select" id="skr-starbase-upgrade-projectile-select" th:if="${starbase.projectileLevel < 10 && projectileCosts.size() > 0}">
							<option value="0"></option>
							<option th:each="level : ${projectileCosts}" th:value="${level.number}" th:text="${level.number} + ': ' + ${level.money} + ' ' + #{money}"></option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<button type="button" class="btn btn-default" th:text="#{upgrade}" id="skr-ingame-starbase-performupgrade-button" onclick="starbaseUpgrade.performUpgrade()">Upgrade</button>
			</div>
		</div>
		<script type="text/javascript" src="../js/modules/ingame/starbase/upgrade.js" th:src="@{/js/modules/ingame/starbase/upgrade.js}"></script>
	</div>
</body>
</html>