#header .dropdown-menu {
	right: 0;
	left: auto;
}

.section {
	overflow: hidden;
}

#skr-game-galaxy-wrapper {
	background: #222222;
	overflow: scroll;
	width: 100%;
	position: fixed;
}

#skr-game-galaxy {
	
}

.skr-ingame-visibility-background {
	position: absolute;
	pointer-events: none;
}

.skr-ingame-visibility-background  img {
	position: relative;
	right: 125px;
	bottom: 125px;
	pointer-events: none;
}

.skr-game-planet {
	position: absolute;
}

.skr-game-ship-mouse {
	position: absolute;
}

.skr-game-ship-cluster-mouse {
	position: absolute;
}

.skr-game-planet img {
	position: absolute;
	width: 10px;
	height: 10px;
	cursor: pointer;
	z-index: 99;
	left: -5px;
	top: -5px;
}

.skr-game-planet .owned {
	position: absolute;
	width: 10px;
	height: 10px;
	border: 1px solid;
	border-radius: 6px;
	cursor: pointer;
	z-index: 100;
	left: -5px;
	top: -5px;
}

.skr-game-planet .starbase {
	position: absolute;
	left: -13px;
	top: -13px;
	width: 27px;
	height: 27px;
	border: 1px solid;
	border-radius: 14px;
	cursor: pointer;
	z-index: 99;
	top: -13px;
	width: 27px;
}

.skr-game-planet .ship {
	position: absolute;
	left: -9px;
	top: -9px;
	width: 19px;
	height: 19px;
	border: 1px solid;
	border-radius: 14px;
	cursor: pointer;
	z-index: 99;
}

.ship-in-space {
	position: absolute;
	width: 5px;
	height: 5px;
	border: 3px solid;
	border-radius: 3px;
	cursor: pointer;
	z-index: 30;
	left: -3px;
}

.skr-ingame-ship-scan-circle {
	position: absolute;
}

.skr-ingame-ship-scan-circle>div {
	position: relative;
	right: 46px;
	bottom: 46px;
	width: 95px;
	height: 95px;
	border: 1px dotted blue;
	border-radius: 50px;
}

#skr-game-selection {
	height: 130px;
	position: fixed;
	width: 100%;
	bottom: 0;
	font-size: 0.7em;
}

#skr-game-selection .card {
	margin: 5px;
}

#skr-game-selection .card-body {
	padding: 10px;
}

#skr-game-selection .card-title {
	margin-bottom: 5px;
}

#skr-game-selection .card-body img {
	height: 75px;
}

#skr-game-selection label, #skr-game-selection span {
	line-height: 24px;
}

#skr-planet-center .skr-planet-bottom-button {
	margin-top: 23px;
}

#skr-game-selection span {
	font-weight: bold;
}

.selection-button button {
	cursor: pointer;
	font-size: 1.5em;
	border: 0 none;
	background: transparent;
}

.selection-button button:disabled {
	cursor: default;
}

.selection-button button:disabled i {
	color: grey;
}

.selection-button-bottom {
	margin-top: 23px;
}

.selection-button-small button i {
	font-size: 1.1em !important;
}

#skr-planet-buttons-right i {
	margin-top: 6px;
}

#skr-starbase-small-icons {
	margin-top: 15px;
}

.skr-ingame-selection-panel {
	height: 130px;
	overflow-y: scroll;
}

.skr-ingame-selection-panel .custom-select {
	height: 2em;
	padding: 3px;
}

.skr-ingame-selection-panel .table td, .skr-ingame-selection-panel .table th
	{
	padding: 3px;
}

.skr-starbase-production-quantity-select {
	width: 40px;
}

input.form-control {
	padding: 2px;
	font-size: 1em;
	height: 2em;
}

button.btn {
	padding: 0 7px;
	font-size: 1.2em;
	height: 1.7em;
	line-height: 1em;
}

#skr-game-ship-transporter img {
	height: 40px;
}

.skr-game-selection-message {
	width: 100%;
	margin-top: 2em;
	font-size: 2em;
	text-align: center;
}

#skr-ship-small-icons button {
	font-size: 1em !important;
	margin-bottom: 12px !important;
}

#skr-game-ship-scanner img {
	height: 45px;
	border: 2px solid black;
}

#skr-game-ship-scanner button {
	margin-top: 15px;
}

.skr-ship-scanner-planet-details, .skr-ship-scanner-ship-details {
	padding-top: 5px;
	padding-bottom: 5px;
}

.skr-game-details-mouseover {
	padding: 0;
	display: none;
	position: relative;
	background: black;
	color: white;
	left: 5px;
	top: 20px;
	z-index: 120;
	border: 1px solid white;
	font-size: 0.7em !important;
}

.skr-game-details-mouseover-content {
	background: white;
	color: black;
	width: 220px;
	text-align: left;
	padding: 3px !important;
}

.untapped-resource {
	height: 15px;
	margin-top: 5px;
}

.skr-ingame-list-panel-wrapper {
	overflow-x: overlay;
	width: 100%;
}

.skr-ingame-list-panel {
	width: 100%;
}

.skr-ingame-ship-selection-item {
	width: 200px;
}

.skr-ingame-ship-bars td {
	border: 1px solid grey;
}

.skr-ingame-ship-bars td div {
	width: 100%;
}

.ship-bar {
	height: 100%;
	width: 20px;
}

.shield {
	background-color: lightblue;
}

.damage {
	background-color: blue;
}

.cargo {
	background-color: orange;
}