<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<h4 th:text="#{class} + ' ' + ${planet.type} + ' ' + #{planet} ">Klasse M Planet</h4>
				<label th:text="#{average_temperature} + ': ' + ${planet.temperature} + '°C'">Durchschnittstemperatur: 25°C</label>
				<i class="fas fa-thermometer-half"></i>
			</div>
			<div class="col-md-6">
				<img th:src="${planet.createFullImagePath()}">
			</div>
		</div>
	</div>
</body>
</html>