<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" class="container-fluid">
		<div class="row">
			<div class="col-6">
				<h5 th:text="#{factories}">Factories</h5>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{running}">In Betrieb</label>
					</div>
					<div class="col-md-4 text-right">
						<span th:text="${planet.factories}">100</span>
						<i class="fa-fw fa fa-monument"></i>
					</div>
					<div class="col-md-2">
						<label th:text="#{maximum}">Maximum</label>
					</div>
					<div class="col-md-4 text-right">
						<span th:text="${maxFactories}">100</span>
						<i class="fa-fw fa fa-monument"></i>
					</div>
				</div>
				<div class="row" th:if="${maxFactories - planet.factories > 0}">
					<div class="col-4">
						<select id="skr-planet-factories-quantity-select" class="custom-select">
							<option th:each="quantity : ${#numbers.sequence(1, maxFactories - planet.factories)}" th:selected="${quantity == maxFactories - planet.factories}" th:value="${quantity}" th:text="${quantity}">1</option>
						</select>
					</div>
					<div class="col-8">
						<button type="button" class="btn btn-default" id="skr-planet-factories-build-factories" th:text="#{construct_factories}">Fabriken bauen</button>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<input type="checkbox" id="skr-planet-factories-automated-checkbox" th:checked="${planet.autoBuildFactories}" />
						<label for="skr-planet-factories-automated-checkbox" th:text="#{automated_construction}">Automatisierter Bau</label>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="row">
					<div class="col-md-4">
						<label th:text="#{supplies}">Vorräte</label>
					</div>
					<div class="col-md-4 text-right">
						<span th:text="${planet.supplies}">100</span>
						<i class="fa-fw fa fa-cube"></i>
					</div>
				</div>
				<div class="row" th:if="${planet.supplies > 0}">
					<div class="col-4">
						<select id="skr-planet-supplies-quantity-select" class="custom-select">
							<option th:each="quantity : ${#numbers.sequence(1, planet.supplies)}" th:selected="${quantity == planet.supplies}" th:value="${quantity}" th:text="${quantity}">1</option>
						</select>
					</div>
					<div class="col-6">
						<button type="button" class="btn btn-default" id="skr-planet-factories-sell-supplies" th:text="#{sell_supplies}">Vorräte verkaufen</button>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<input type="checkbox" id="skr-planet-sell-supplies-automated-checkbox" th:checked="${planet.autoSellSupplies}" />
						<label for="skr-planet-sell-supplies-automated-checkbox" th:text="#{automated_selling}">Automatisierter Verkauf</label>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../js/modules/ingame/planet/factories.js" th:src="@{/js/modules/ingame/planet/factories.js}"></script>
	</div>
</body>
</html>