<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" class="container-fluid">
		<div class="row">
			<div class="col-6">
				<h5 th:text="#{mines}">Minen</h5>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{running}">In Betrieb</label>
					</div>
					<div class="col-md-4 text-right">
						<span th:text="${planet.mines}">100</span>
						<i class="fa-fw fa fa-monument"></i>
					</div>
					<div class="col-md-2">
						<label th:text="#{maximum}">Maximum</label>
					</div>
					<div class="col-md-4 text-right">
						<span th:text="${maxMines}">100</span>
						<i class="fa-fw fa fa-monument"></i>
					</div>
				</div>
				<div class="row" th:if="${maxMines - planet.mines > 0}">
					<div class="col-4">
						<select id="skr-planet-mines-quantity-select" class="custom-select">
							<option th:each="quantity : ${#numbers.sequence(1, maxMines - planet.mines)}" th:selected="${quantity == maxMines - planet.mines}" th:value="${quantity}" th:text="${quantity}">1</option>
						</select>
					</div>
					<div class="col-8">
						<button type="button" class="btn btn-default" id="skr-planet-mines-build-mines" th:text="#{construct_mines}">Minen bauen</button>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<input type="checkbox" id="skr-planet-mines-automated-checkbox" th:checked="${planet.autoBuildMines}" />
						<label for="skr-planet-mines-automated-checkbox" th:text="#{automated_construction}">Automatisierter Bau</label>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-3">
				<div class="row">
					<div class="col-md-4">
						<label th:text="#{fuel}">Lemin</label>
					</div>
					<div class="col-md-8 text-right">
						<span th:text="${planet.untappedFuel}">1000</span>
						<i class="fa-fw fas fa-circle"></i>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label th:text="#{mineral1}">Baxterium</label>
					</div>
					<div class="col-md-8 text-right">
						<span th:text="${planet.untappedMineral1}">1000</span>
						<i class="fa-fw fas fa-certificate"></i>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label th:text="#{mineral2}">Rennurbin</label>
					</div>
					<div class="col-md-8 text-right">
						<span th:text="${planet.untappedMineral2}">1000</span>
						<i class="fa-fw fas fa-square-full"></i>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label th:text="#{mineral3}">Vomisaan</label>
					</div>
					<div class="col-md-8 text-right">
						<span th:text="${planet.untappedMineral3}">1000</span>
						<i class="fa-fw fas fa-play"></i>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../js/modules/ingame/planet/mines.js" th:src="@{/js/modules/ingame/planet/mines.js}"></script>
	</div>
</body>
</html>