<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" class="container-fluid">
		<div class="row">
			<div class="col-6">
				<h5 th:text="#{planetary_defense}">Planetary defense</h5>
				<div class="row">
					<div class="col-md-2">
						<label th:text="#{running}">In Betrieb</label>
					</div>
					<div class="col-md-4 text-right">
						<span th:text="${planet.planetaryDefense}">100</span>
						<i class="fa-fw fab fa-fort-awesome"></i>
					</div>
					<div class="col-md-2">
						<label th:text="#{maximum}">Maximum</label>
					</div>
					<div class="col-md-4 text-right">
						<span th:text="${maxPlanetaryDefense}">100</span>
						<i class="fa-fw fab fa-fort-awesome"></i>
					</div>
				</div>
				<div class="row" th:if="${maxPlanetaryDefense - planet.planetaryDefense > 0}">
					<div class="col-4">
						<select id="skr-planet-planetarydefense-quantity-select" class="custom-select">
							<option th:each="quantity : ${#numbers.sequence(1, maxPlanetaryDefense - planet.planetaryDefense)}" th:selected="${quantity == maxPlanetaryDefense - planet.planetaryDefense}" th:value="${quantity}" th:text="${quantity}">1</option>
						</select>
					</div>
					<div class="col-8">
						<button type="button" class="btn btn-default" id="skr-planet-planetarydefense-build-planetarydefense" th:text="#{construct_planetary_defense}">Fabriken bauen</button>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<input type="checkbox" id="skr-planet-planetarydefense-automated-checkbox" th:checked="${planet.autoBuildPlanetaryDefense}" />
						<label for="skr-planet-planetarydefense-automated-checkbox" th:text="#{automated_construction}">Automatisierter Bau</label>
					</div>
				</div>
			</div>
			<div class="col-6"></div>
		</div>
		<script type="text/javascript" src="../js/modules/ingame/planet/planetary-defense.js" th:src="@{/js/modules/ingame/planet/planetary-defense.js}"></script>
	</div>
</body>
</html>