<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" class="container-fluid">
		<div class="row">
			<div class="col-lg-4">
				<div class="row">
					<div class="col-md-8">
						<h4 th:text="${planet.name}">Planetname</h4>
						<div class="row">
							<div class="col-6">
								<div class="row">
									<div class="col-md-4">
										<label th:text="#{colonists}">Kolonisten</label>
									</div>
									<div class="col-md-8 text-right">
										<span th:text="${planet.colonists}">50000</span>
										<i class="fa-fw fa fa-male"></i>
									</div>
									<div class="col-md-4">
										<label th:text="#{money}">Cantox</label>
									</div>
									<div class="col-md-8 text-right">
										<span th:text="${planet.money}">15000</span>
										<i class="fa-fw fa fa-coins"></i>
									</div>
									<div class="col-md-4">
										<label th:text="#{supplies}">Vorräte</label>
									</div>
									<div class="col-md-8 text-right">
										<span th:text="${planet.supplies}">5</span>
										<i class="fa-fw fa fa-cube"></i>
									</div>
								</div>
							</div>
							<div class="col-6 border-left">
								<div class="row">
									<div class="col-md-4">
										<label th:text="#{mines}">Minen</label>
									</div>
									<div class="col-md-8 text-right">
										<span th:text="${planet.mines}">5</span>
										<i class="fa-fw fas fa-monument"></i>
									</div>
									<div class="col-md-4">
										<label th:text="#{factories}">Fabriken</label>
									</div>
									<div class="col-md-8 text-right">
										<span th:text="${planet.factories}">5</span>
										<i class="fa-fw fa fa-industry"></i>
									</div>
									<div class="col-md-4">
										<label th:text="#{planetary_defense}">Planetare Verteid.</label>
									</div>
									<div class="col-md-8 text-right">
										<span th:text="${planet.planetaryDefense}">5</span>
										<i class="fa-fw fab fa-fort-awesome"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 border-left">
						<div class="row">
							<div class="col-md-4">
								<label th:text="#{fuel}">Lemin</label>
							</div>
							<div class="col-md-8 text-right">
								<span th:text="${planet.fuel}">1000</span>
								<i class="fa-fw fas fa-circle"></i>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<label th:text="#{mineral1}">Baxterium</label>
							</div>
							<div class="col-md-8 text-right">
								<span th:text="${planet.mineral1}">1000</span>
								<i class="fa-fw fas fa-certificate"></i>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<label th:text="#{mineral2}">Rennurbin</label>
							</div>
							<div class="col-md-8 text-right">
								<span th:text="${planet.mineral2}">1000</span>
								<i class="fa-fw fas fa-square-full"></i>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<label th:text="#{mineral3}">Vomisaan</label>
							</div>
							<div class="col-md-8 text-right">
								<span th:text="${planet.mineral3}">1000</span>
								<i class="fa-fw fas fa-play"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="card">
					<div class="card-body">
						<div class="row selection-button">
							<div class="col-9">
								<div class="row">
									<div class="col-6 col-sm-4 text-center">
										<button type="button" onclick="planet.show('details')" id="skr-ingame-planet-details-button"
											th:title="#{details}">
											<i class="fa-fw fas fa-globe"></i>
										</button>
									</div>
									<div class="col-6 col-sm-4 text-center">
										<button type="button" th:disabled="${turnDone}" onclick="planet.showOrbitalSystems()"
											id="skr-ingame-planet-orbitalsystems-button" th:title="#{orbital_systems}">
											<i class="fa-fw fas fa-building"></i>
										</button>
									</div>
									<div class="col-6 col-sm-4 text-center">
										<button type="button" th:disabled="${turnDone}"
											th:onclick="${planet.starbase != null} ? |ingame.select('starbase', ${planet.starbase.id})| : |planet.show('starbase-construction')|"
											id="skr-ingame-planet-starbase-button" th:title="#{starbase}">
											<i class="fa-fw fas fa-project-diagram"></i>
										</button>
									</div>
								</div>
								<div class="row">
									<div class="col-6 col-sm-4 text-center selection-button-bottom">
										<button type="button" onclick="planet.showDominantSpecies()" id="skr-ingame-planet-dominantspecies-button"
											th:title="#{dominant_species}">
											<i class="fa-fw fab fa-mandalorian"></i>
										</button>
									</div>
									<div class="col-6 col-sm-4 text-center selection-button-bottom">
										<button type="button" onclick="planet.show('logbook')" id="skr-ingame-planet-logbook-button"
											th:title="#{log_book}">
											<i class="fa-fw fas fa-book-open"></i>
										</button>
									</div>
									<div class="col-6 col-sm-4 text-center selection-button-bottom">
										<button type="button" onclick="planet.showShipsInOrbit()" id="skr-ingame-planet-shipsinorbit-button"
											th:title="#{ships_in_orbit}">
											<i class="fa-fw fas fa-space-shuttle"></i>
										</button>
									</div>
								</div>
							</div>
							<div class="col-3">
								<div class="row" id="skr-planet-buttons-right">
									<div class="col-12 text-center selection-button-small">
										<button type="button" th:disabled="${turnDone}" onclick="planet.show('mines')"
											id="skr-ingame-planet-mines-button" th:title="#{mines}">
											<i class="fa-fw fa fa-monument"></i>
										</button>
									</div>
									<div class="col-12 text-center selection-button-small">
										<button type="button" th:disabled="${turnDone}" onclick="planet.show('factories')"
											id="skr-ingame-planet-factories-button" th:title="#{factories}">
											<i class="fa-fw fa fa-industry"></i>
										</button>
									</div>
									<div class="col-12 text-center selection-button-small">
										<button type="button" th:disabled="${turnDone}" onclick="planet.show('planetary-defense')"
											id="skr-ingame-planet-planetarydefense-button" th:title="#{planetary_defense}">
											<i class="fa-fw fab fa-fort-awesome"> </i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5 skr-ingame-selection-panel" id="skr-planet-selection"></div>
		</div>
		<script type="text/javascript" src="../js/modules/ingame/planet/planet.js"
			th:src="@{/js/modules/ingame/planet/planet.js}"></script>
	</div>
</body>
</html>