<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="under-construction" class="container-fluid">
		<div class="skr-game-selection-message" th:text="#{starbase_already_construction}">Eine Sternbasis befindet sich momentan im Bau</div>
	</div>
	<div th:fragment="order-successfull" class="container-fluid">
		<div class="skr-game-selection-message" th:text="#{starbase_order_successfull}">Bau der Basis wurde erfolgreich in Auftrag gegeben</div>
	</div>
	<div th:fragment="name-select" class="container-fluid" id="skr-planet-starbasepconstruction-content">
		<input type="hidden" id="skr-planet-starbaseconstruction-type" th:value="${type}" />
		<div class="row">
			<div class="col-4">
				<label th:text="#{name}">Name</label>
			</div>
			<div class="col-8">
				<input type="text" class="form-control" id="skr-planet-starbaseconstruction-name-input" maxlength="64" required />
				<div class="invalid-tooltip" th:text="#{name_must_be_submitted}">Name muss angegeben werden!</div>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<button type="button" class="btn btn-default" onclick="starbaseConstruction.construct()" th:text="#{order_starbase_construction}">Basis in Auftrag geben</button>
			</div>
		</div>
	</div>
	<div th:fragment="content" class="container-fluid" id="skr-planet-starbasepconstruction-content">
		<div class="row">
			<div class="col-12">
				<table class="table">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">
								<i class="fa-fw fa fa-coins"></i>
							</th>
							<th scope="col">
								<i class="fa-fw fa fa-cube"></i>
							</th>
							<th scope="col">
								<i class="fa-fw fa fa-circle"></i>
							</th>
							<th scope="col">
								<i class="fa-fw fas fa-certificate"></i>
							</th>
							<th scope="col">
								<i class="fa-fw fas fa-square-full"></i>
							</th>
							<th scope="col">
								<i class="fa-fw fas fa-play"></i>
							</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="entry : ${starbaseTypes}">
							<td th:text="#{${entry.name()}}"></td>
							<td th:text="${entry.costMoney}"></td>
							<td th:text="${entry.costSupplies}"></td>
							<td th:text="${entry.costFuel}"></td>
							<td th:text="${entry.costMineral1}"></td>
							<td th:text="${entry.costMineral2}"></td>
							<td th:text="${entry.costMineral3}"></td>
							<td>
								<button type="button" class="btn btn-default" th:disabled="${!planet.canConstructStarbase(entry)}" th:text="#{order_starbase_construction}" th:onclick="|starbaseConstruction.toNameSelect('${entry.name()}')|">Basis in Auftrag geben</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<script type="text/javascript" src="../js/modules/ingame/planet/starbase-construction.js" th:src="@{/js/modules/ingame/planet/starbase-construction.js}"></script>
	</div>
</body>
</html>