#skr-buttons {
	margin-bottom: 10px;
}

#skr-game #skr-game-players td {
	line-height: 38px;
}

.skr-game-galaxy-selection-item>label {
	cursor: pointer;
}

.skr-game-galaxy-image {
	border: 1px solid black;
}

.nav-tabs {
	margin-bottom: 20px;
}