<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{dashboard/layout}">
<body>
	<section layout:fragment="content">
		<table class="table">
			<thead>
				<tr>
					<th scope="col" th:text="#{name}">Name</th>
					<th scope="col" th:text="#{created}">Created</th>
					<th scope="col" th:text="#{status}">Status</th>
					<th scope="col" th:text="#{player_count}">Players</th>
					<th scope="col" th:text="#{round}">Round</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="result : ${results}">
					<td th:text="${result.name}">Duell</td>
					<td th:text="${#dates.format(result.created, 'dd.MM.yyyy HH:mm')}">31.12.2018 18:45</td>
					<td th:text="${result.finished} ? #{finished} : (${result.started} ? #{started} : #{open})">Yes</td>
					<td th:text="${result.playerCount}">2</td>
					<td th:text="${result.round}">1</td>
					<td>
						<a class="skr-play-button" th:if="${result.started && !result.finished && result.playerOfGame}"
							th:href="${'/ingame/game?id=' + result.id}" th:text="#{play}">Play</a>
					</td>
					<td>
						<a class="skr-game-details-button" th:href="${'game?id=' + result.id}" th:text="#{details}">Details</a>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
</body>
</html>