<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{dashboard/layout}">
<body>
	<div th:fragment="content" class="row">
		<div class="col-lg-8">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="form-row">
								<label class="col-form-label col-sm-6 col-md-3" th:text="#{name}">Name:</label>
								<div class="col-sm-6 col-md-3">
									<input type="text" autofocus class="form-control" th:field="*{name}" th:disabled="${!canEdit}" maxlength="64">
									<span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
								</div>
								<label class="col-form-label col-sm-6 col-md-3" th:text="#{player_count}">Spielerzahl:</label>
								<div class="col-sm-6 col-md-3">
									<input type="number" class="form-control" th:field="*{playerCount}" th:disabled="${!canEdit}" min="1" max="64">
									<span class="text-danger" th:if="${#fields.hasErrors('playerCount')}" th:errors="*{playerCount}"></span>
								</div>
								<label class="col-form-label col-sm-6 col-md-3" th:text="#{galaxy_size}">Galaxiegröße:</label>
								<div class="col-sm-6 col-md-3">
									<input type="number" class="form-control" th:field="*{galaxySize}" th:disabled="${!canEdit}" min="8"
										max="16384">
									<span class="text-danger" th:if="${#fields.hasErrors('galaxySize')}" th:errors="*{galaxySize}"></span>
								</div>
								<label class="col-form-label col-sm-6 col-md-3" th:text="#{planets}">Planeten:</label>
								<div class="col-sm-6 col-md-3">
									<input type="number" class="form-control" th:field="*{planetCount}" th:disabled="${!canEdit}" min="2"
										max="16384">
									<span class="text-danger" th:if="${#fields.hasErrors('planetCount')}" th:errors="*{planetCount}"></span>
								</div>
								<label class="col-form-label col-sm-6 col-md-3" th:text="#{resource_density}">Ressourcendichte:</label>
								<div class="col-sm-6 col-md-3">
									<select class="custom-select" th:disabled="${!canEdit}" th:field="*{resourceDensity}">
										<option th:each="density : ${resourceDensities}" th:value="${density.name()}"
											th:text="#{'resource_density_' + ${density.name()}}">Hoch</option>
									</select>
								</div>
								<label class="col-form-label col-sm-6 col-md-3" th:text="#{win_condition}">Siegbedingung:</label>
								<div class="col-sm-6 col-md-3">
									<select class="custom-select" th:disabled="${!canEdit}" th:field="*{winCondition}">
										<option th:each="winCondition : ${winConditions}" th:value="${winCondition.name()}"
											th:text="#{'win_condition_' + ${winCondition.name()}}">Endless</option>
									</select>
								</div>
								<label class="col-form-label col-sm-6 col-md-3" th:text="#{start_positions}">Startpositionen:</label>
								<div class="col-sm-6 col-md-3">
									<select class="custom-select" th:disabled="${!canEdit}" th:field="*{startPositionSetup}">
										<option th:each="startPositionSetup : ${startPositionSetups}" th:value="${startPositionSetup.name()}"
											th:text="#{'start_position_setup_' + ${startPositionSetup.name()}}">Gleichverteilt</option>
									</select>
								</div>
								<label class="col-form-label col-sm-6 col-md-3" th:text="#{home_planet_setup}">Heimatplanet:</label>
								<div class="col-sm-6 col-md-3">
									<select class="custom-select" th:disabled="${!canEdit}" th:field="*{homePlanetSetup}">
										<option th:each="homePlanetSetup : ${homePlanetSetups}" th:value="${homePlanetSetup.name()}"
											th:text="#{'home_planet_setup_' + ${homePlanetSetup.name()}}">Mit Sternenbasis</option>
									</select>
								</div>
								<label class="col-form-label col-sm-6 col-md-3" th:text="#{player_leaves_game_when}">Spieler scheidet
									aus bei:</label>
								<div class="col-sm-6 col-md-3">
									<select class="custom-select" th:disabled="${!canEdit}" th:field="*{loseCondition}">
										<option th:each="loseCondition : ${loseConditions}" th:value="${loseCondition.name()}"
											th:text="#{'lose_condition_' + ${loseCondition.name()}}">Verlust des Heimatplaneten</option>
									</select>
								</div>
								<label class="col-form-label col-sm-6 col-md-3" th:text="#{init_money}">Startkapital:</label>
								<div class="col-sm-6 col-md-3">
									<input type="number" class="form-control" th:disabled="${!canEdit}" th:field="*{initMoney}" min="1"
										max="9999999">
									<span class="text-danger" th:if="${#fields.hasErrors('initMoney')}" th:errors="*{initMoney}"></span>
								</div>
								<label class="col-form-label col-sm-6 col-md-3" th:text="#{init_home_planet_resources}">Resourcen des
									Heimatplaneten:</label>
								<div class="col-sm-6 col-md-3">
									<select class="custom-select" th:disabled="${!canEdit}" th:field="*{resourceDensityHomePlanet}">
										<option th:each="resourceDensityHomePlanet : ${resourceDensityHomePlanets}"
											th:value="${resourceDensityHomePlanet.name()}"
											th:text="#{'resource_density_' + ${resourceDensityHomePlanet.name()}}">Hoch</option>
									</select>
								</div>
								<label class="col-form-label col-sm-6 col-md-3" th:text="#{inhabited_planets}">Bewohnte Planeten:</label>
								<div class="col-sm-6 col-md-3">
									<select class="custom-select" th:disabled="${!canEdit}" th:field="*{inhabitedPlanetsPercentage}">
										<option value="0.0" th:text="#{none}">Keine</option>
										<option value="0.25">25%</option>
										<option value="0.50">50%</option>
										<option value="0.75">75%</option>
										<option value="1.0">100%</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<h3 class="card-title" th:text="#{optional_modules}">Optionale Module</h3>
							<div class="form-row">
								<div class="col-md-6">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" th:disabled="${!canEdit}" th:field="*{enableEspionage}" />
										<label class="form-check-label" for="enableEspionage1" th:text="#{espionage_and_sabotage}">Spionage
											und Sabotage</label>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" th:disabled="${!canEdit}" th:field="*{enableMineFields}" />
										<label class="form-check-label" for="enableMineFields1" th:text="#{mine_fields}">Minenfelder</label>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" th:disabled="${!canEdit}" th:field="*{enableTactialCombat}" />
										<label class="form-check-label" for="enableTactialCombat1" th:text="#{tactical_combat}">Taktischer
											Kampf</label>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" th:disabled="${!canEdit}" th:field="*{enableWsiwyg}" />
										<label class="form-check-label" for="enableWsiwyg1" th:text="#{what_you_see_is_what_you_get}">What you
											see is what you get</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<h3 class="card-title" th:text="#{wormholes}">Wurmlöcher</h3>
							<div class="form-row">
								<label class="col-form-label col-sm-6 col-md-3" th:text="#{unstable_wormholes}">Instabile Wurchlöcher:</label>
								<div class="col-sm-6 col-md-3">
									<input type="number" class="form-control" th:field="*{unstableWormholeCount}" th:disabled="${!canEdit}" min="0"
										max="50">
									<span class="text-danger" th:if="${#fields.hasErrors('unstableWormholeCount')}"
										th:errors="*{unstableWormholeCount}"></span>
								</div>
								<label class="col-form-label col-sm-6 col-md-3" th:text="#{stable_wormholes}">Stabile Wurmlöcher:</label>
								<div class="col-sm-6 col-md-3">
									<select class="custom-select" th:disabled="${!canEdit}" th:field="*{stableWormholeConfig}">
										<option th:each="stableWormholeConfig : ${stableWormholeConfigs}" th:value="${stableWormholeConfig.name()}"
											th:text="#{'stable_wormhole_' + ${stableWormholeConfig.name()}}">Hoch</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<h3 class="card-title" th:text="#{plasma_storms}">Plasmastürme</h3>
							<div class="form-row">
								<label class="col-form-label col-sm-6 col-md-3" th:text="#{concurrent_plasma_storms}">Gleichzeitige
									Plasmastürme:</label>
								<div class="col-sm-6 col-md-3">
									<input type="number" class="form-control" th:disabled="${!canEdit}" th:field="*{maxConcurrentPlasmaStormCount}"
										min="0" max="10">
									<span class="text-danger" th:if="${#fields.hasErrors('maxConcurrentPlasmaStormCount')}"
										th:errors="*{maxConcurrentPlasmaStormCount}"></span>
								</div>
								<label class="col-form-label col-sm-6 col-md-3" th:text="#{plasma_storm_probability}">Plasmasturm
									Wahrscheinlichkeit:</label>
								<div class="col-sm-6 col-md-3">
									<input type="number" class="form-control" th:disabled="${!canEdit}" th:field="*{plasmaStormProbability}"
										min="0" max="100">
									<span class="text-danger" th:if="${#fields.hasErrors('plasmaStormProbability')}"
										th:errors="*{plasmaStormProbability}"></span>
								</div>
								<label class="col-form-label col-sm-6 col-md-3" th:text="#{plasma_storm_duration}">Plasmasturm Dauer:</label>
								<div class="col-sm-6 col-md-3">
									<input type="number" class="form-control" th:disabled="${!canEdit}" th:field="*{plasmaStormRounds}" min="3"
										max="20">
									<span class="text-danger" th:if="${#fields.hasErrors('plasmaStormRounds')}" th:errors="*{plasmaStormRounds}"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<h3 class="card-title" th:text="#{fog_of_war}">Nebel des Krieges</h3>
							<div class="form-row">
								<div class="col-12" th:each="type : ${fogOfWarTypes}">
									<div class="form-check">
										<input class="form-check-input" th:id="${type}" type="radio" name="fogOfWarType" th:disabled="${!canEdit}"
											th:field="*{fogOfWarType}" th:value="${type}" />
										<label class="form-check-label" th:for="${type}" th:text="#{'fog_of_war_type_' + ${type.name()}}">Kein</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title" th:text="#{galaxy_structure}">Galaxy structure</h3>
					<div class="form-row">
						<div class="col-12" th:each="galaxy : ${galaxyConfigs}">
							<div class="form-check skr-game-galaxy-selection-item">
								<input class="form-check-input" th:id="${galaxy}" type="radio" name="galaxyConfigId" th:disabled="${!canEdit}"
									th:field="*{galaxyConfigId}" th:value="${galaxy}" />
								<label class="form-check-label" th:for="${galaxy}">
									<img th:src="${'/images/galaxies/' + galaxy + '.png'}" class="skr-game-galaxy-image">
									<span th:text="#{'galaxy_structure_' + ${galaxy}}">Cluser</span>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>