<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{dashboard/layout}">
<body>
	<div th:fragment="content">
		<div id="skr-buttons" class="row">
			<div class="col-12">
				<button type="button" th:if="${showPlayerButton}" class="btn btn-default" id="skr-play-button"
					th:onclick="|window.location.href = '/ingame/game?id=${game.id}'|" th:text="#{play}">Spielen</button>
				<button type="button" th:if="${showStartButton}" id="skr-start-game-button" disabled class="btn btn-default"
					th:text="#{start_game}">Spiel starten</button>
				<button type="button" th:if="${showJoinGameButton}" class="btn btn-default" id="skr-join-game-button"
					th:text="#{join_game}">Spiel beitreten</button>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title" th:text="#{players}">Spieler</h3>
						<div class="row">
							<div class="col-sm-12">
								<table id="skr-game-players" class="table">
									<thead>
										<tr>
											<th scope="col" th:text="#{name}">Name</th>
											<th scope="col" th:text="#{race}">Race</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="player : ${players}">
											<td th:text="${player.login.username}" class="skr-player-name">Testname</td>
											<td>
												<span th:if="${!((player.login.id == currentLoginId || (player.aiLevel != null && currentLoginId == game.creatorId)) && !game.started)}"
													th:text="${player.race != null} ? ${player.race.name} : #{not_selected}">Orion Konglomerat</span>
												<select class="custom-select skr-game-race-select" th:id="${'skr-game-race-select-' + player.id}"
													th:if="${(player.login.id == currentLoginId || (player.aiLevel != null && currentLoginId == game.creatorId)) && !game.started}"
													name="${player.aiLevel}">
													<option value="" th:text="#{selection_prompt}">Auswählen...</option>
													<option th:each="race : ${races}" th:selected="${player.race != null && player.race.name == race}"
														th:value="${race}" th:text="${race}">Orion Konglomerat</option>
												</select>
											</td>
											<td th:if="${currentLoginId != player.login.id && !game.started && game.creatorId == currentLoginId}">
												<button type="button" class="btn btn-danger" th:onclick="|game.removePlayer(${player.id})|">
													<i class="fas fa-minus-circle"></i>
													<span th:text="#{remove}">Remove</span>
												</button>
											</td>
										</tr>
										<tr th:if="${!game.started && !gameFull && currentLoginId == game.creatorId}">
											<td>
												<button type="button" id="skr-game-add-player" class="btn btn-default" th:text="#{add}">Hinzufügen</button>
											</td>
											<td>
												<input type="text" class="form-control typeahead" id="skr-game-player-search" />
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>