<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{dashboard/layout}">
<body>
	<section layout:fragment="content">
		<div id="skr-game">
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item" th:if="${!game.finished && !playerLost}">
					<a href="#players" id="skr-game-tab-players" data-toggle="tab" role="tab" class="nav-link active"
						th:text="#{players}">Players</a>
				</li>
				<li class="nav-item" th:if="${game.finished}">
					<a href="#game-finished" id="skr-game-tab-game-finished" data-toggle="tab" role="tab" class="nav-link active"
						th:text="#{game_finished}">Game finished</a>
				</li>
				<li class="nav-item" th:if="${!game.finished && playerLost}">
					<a href="#game-lost" id="skr-game-tab-game-finished" data-toggle="tab" role="tab" class="nav-link active"
						th:text="#{you_lost}">Game lost</a>
				</li>
				<li class="nav-item">
					<a href="#options" id="skr-game-tab-options" data-toggle="tab" role="tab" class="nav-link" th:text="#{options}">Options</a>
				</li>
			</ul>
			<div class="tab-content">
				<div th:if="${!game.finished && !playerLost}" class="tab-pane active" role="tabpanel" id="players">
					<div th:replace="dashboard/game-players::content"></div>
				</div>
				<div th:if="${game.finished}" class="tab-pane active" role="tabpanel" id="game-finished">
					<div th:replace="dashboard/game-finished::content"></div>
				</div>
				<div th:if="${!game.finished && playerLost}" class="tab-pane active" role="tabpanel" id="game-lost">
					<div th:replace="dashboard/game-lost::content"></div>
				</div>
				<div class="tab-pane" role="tabpanel" id="options">
					<form action="#" th:action="@{/dashboard/game}" th:object="${game}" method="post">
						<input type="hidden" th:field="*{id}" />

						<div id="skr-buttons" class="row" th:if="${!game.started && canEdit}">
							<div class="col-12">
								<button type="submit" class="btn btn-default" th:text="#{save}">Speichern</button>
							</div>
						</div>
						<div th:replace="dashboard/game-options::content"></div>
					</form>
				</div>
			</div>
		</div>
		<script th:src="@{/js/typeahead.jquery.min.js}"></script>
		<script th:src="@{/js/modules/dashboard/game.js}"></script>
	</section>
</body>
</html>