<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Skrupel TNG</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../css/fontawesome-all.min.css" th:href="@{/css/fontawesome-all.min.css}" />
<link rel="stylesheet" href="../css/skrupel_tng.css" th:href="@{/css/skrupel_tng.css}" />
<link rel="stylesheet" href="../css/modules/dashboard/dashboard.css" th:href="@{/css/modules/dashboard/dashboard.css}" />

<script type="text/javascript" src="../js/jquery.js" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

<script type="text/javascript" src="../js/skrupel_tng.js" th:src="@{/js/skrupel_tng.js}"></script>
<script type="text/javascript" src="../js/modules/dashboard/dashboard.js" th:src="@{/js/modules/dashboard/dashboard.js}"></script>

</head>
<body>
	<header class="header">
		<nav class="navbar navbar-expand-lg">
			<a class="navbar-brand" href="/dashboard/existing-games">Skrupel TNG</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#skr-dashboard-nav-bar" aria-controls="skr-dashboard-nav-bar" aria-expanded="false" aria-label="Toggle navigation">
				<i class="navbar-toggler-icon fa fa-bars"></i>
			</button>
			<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="skr-dashboard-nav-bar">
				<ul class="navbar-nav">
					<li class="nav-item" id="skr-dashboard-existing-games">
						<a class="nav-link" id="skr-dashboard-existing-games-button" href="/dashboard/existing-games" th:text="#{existing_games}">Laufende Spiele</a>
					</li>
					<li class="nav-item" id="skr-dashboard-new-game">
						<a class="nav-link" id="skr-dashboard-new-game-button" href="/dashboard/new-game" th:text="#{new_game}">Neues Spiel</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/logout" th:text="#{logout}">Logout</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<section class="section">
		<div class="container-fluid" layout:fragment="content"></div>
	</section>
</body>
</html>