<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
<body>
	<section layout:fragment="content">
		<form action="#" th:action="@{/dashboard/new-game}" th:object="${request}" method="post">
			<div id="skr-buttons" class="row">
				<div class="col-12">
					<button type="submit" class="btn btn-default" id="skr-dashboard-newgame-create-button" th:text="#{create}">Erstellen</button>
				</div>
			</div>
			<div class="row">
				<div th:replace="dashboard/game-options::content"></div>
			</div>
		</form>
	</section>
</body>
</html>