.navbar-nav .nav-item.active {
	font-weight: bold;
}

.header {
	background: #dfdfdf;
	width: 100%;
	margin-bottom: 10px;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.22);
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.22);
}

.card {
	margin-bottom: 10px;
}

.tt-query {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
	color: #999
}

.tt-menu { /* used to be tt-dropdown-menu in older versions */
	width: 422px;
	margin-top: 4px;
	padding: 4px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
	padding: 3px 20px;
	line-height: 24px;
}

.tt-suggestion.tt-cursor, .tt-suggestion:hover {
	color: #fff;
	background-color: #0097cf;
}

.tt-suggestion p {
	margin: 0;
}

.form-control:disabled {
	color: #6c757d;
}

.fuel {
	background-color: #5ae200;
}

.mineral1 {
	background-color: #baa26f;
}

.mineral2 {
	background-color: red;
}

.mineral3 {
	background-color: blue;
}

.fa, .fas, .fab {
	font-size: 1.5em;
}

.fa-male {
	color: darkgreen;
}

.fa-monument {
	color: #b57500;
}

.fa-cube {
	color: darkorange;
}

.fa-coins {
	color: orange;
}

.fa-industry {
	color: steelblue;
}

.fa-fort-awesome {
	color: darkgrey;
}

.fa-circle {
	color: #5ae200;
}

.fa-certificate {
	color: #baa26f;
}

.fa-square-full {
	color: red;
}

.fa-play {
	color: blue;
}

.fa-tablet-alt {
	color: darkgrey;
}

.fa-globe {
	color: #00c4a0;
}

.fa-building {
	color: #3d3d3d;
}

.fa-project-diagram {
	color: #440072;
}

.fa-mandalorian {
	color: #9e6b00;
}

.fa-space-shuttle {
	color: #002eff;
}

.fa-angle-double-right {
	color: red;
}

.fa-bolt {
	color: orange;
}

.fa-rocket {
	color: #4c6ef5;
}

.fa-exchange-alt {
	color: blue;
}

.fa-crosshairs {
	color: darkblue;
}

.fa-searchengin {
	color: darkslategrey;
}

.fa-arrows-alt {
	color: purple;
}

.fa-retweet {
	color: darkgreen;
}

.fa-signal {
	color: red;
}

.fa-cog {
	color: black;
}

.skr-light-ground-units {
	color: blue;
}

.skr-heavy-ground-units {
	color: red;
}