<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content">
		<table class="table">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col"></th>
					<th scope="col" class="text-center">
						<i class="fa-fw fas fa-project-diagram"></i>
					</th>
					<th scope="col" class="text-center">
						<i class="fa-fw fas fa-globe"></i>
					</th>
					<th scope="col" class="text-center">
						<i class="fa-fw fas fa-space-shuttle"></i>
					</th>
					<th scope="col" class="text-center" th:text="#{total}">Total</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="player : ${players}">
					<td class="text-center">
						<img th:src="${'/races/' + player.raceFolder + '/bilder_allgemein/menu.png'}" />
					</td>
					<td class="text-center">
						<div th:text="${player.raceName}">Orion Konglomerat</div>
						<div th:text="${player.name}">Player name</div>
					</td>
					<td class="text-center">
						<div th:text="${player.starbaseRank}">1</div>
					</td>
					<td class="text-center">
						<div th:text="${player.planetRank}">1</div>
					</td>
					<td class="text-center">
						<div th:text="${player.shipRank}">1</div>
					</td>
					<td class="text-center">
						<div th:text="${player.rank}">1</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>