<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Skrupel TNG</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../css/fontawesome-all.min.css" th:href="@{/css/fontawesome-all.min.css}" />
<link rel="stylesheet" href="../css/skrupel_tng.css" th:href="@{/css/skrupel_tng.css}" />

<script type="text/javascript" src="../js/jquery.js" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
	<div class="container">
		<form action="#" th:action="@{/init-setup}" th:object="${request}" method="post">
			<h1>Skrupel TNG</h1>
			<h2 th:text="#{init_setup}">Erste Einrichtung</h2>
			<div class="form-row">
				<label class="col-form-label col-sm-4 col-md-3 col-lg-2" th:text="#{username}">Benutzername:</label>
				<div class="col-12 col-sm-8 col-md-5 col-lg-4">
					<input type="text" class="form-control" th:field="*{username}" th:placeholder="#{username}">
					<span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
				</div>
			</div>
			<div class="form-row">
				<label class="col-form-label col-sm-4 col-md-3 col-lg-2" th:text="#{password}">Passwort:</label>
				<div class="col-12 col-sm-8 col-md-5 col-lg-4">
					<input type="password" class="form-control" th:field="*{password}" th:placeholder="#{password}">
					<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
				</div>
			</div>
			<div class="form-row">
				<div class="col-sm-4 col-md-3 col-lg-2"></div>
				<div class="col-12 col-sm-8 col-md-5 col-lg-4">
					<button type="submit" id="skr-init-setup-form-submit-button" class="form-control" th:text="#{save}">Speichern</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>