<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Skrupel TNG</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../css/fontawesome-all.min.css" th:href="@{/css/fontawesome-all.min.css}" />
<link rel="stylesheet" href="../css/skrupel_tng.css" th:href="@{/css/skrupel_tng.css}" />

<script type="text/javascript" src="../js/jquery.js" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

<script type="text/javascript" src="../js/modules/login/login.js" th:src="@{/js/modules/login/login.js}"></script>

</head>
<body>
	<div class="container">
		<header class="header">
			<nav class="navbar navbar-expand-lg">
				<a class="navbar-brand" href="/dashboard/existing-games">Skrupel TNG</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#skr-dashboard-nav-bar" aria-controls="skr-dashboard-nav-bar" aria-expanded="false" aria-label="Toggle navigation">
					<i class="navbar-toggler-icon fa fa-bars"></i>
				</button>
				<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="skr-dashboard-nav-bar">
					<ul class="navbar-nav">
						<li class="nav-item" id="skr-login-login">
							<a class="nav-link" href="/login" th:text="#{login}">Login</a>
						</li>
						<li class="nav-item" id="skr-login-register">
							<a class="nav-link" href="/register" th:text="#{register}">Registrieren</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<section class="section" layout:fragment="content"></section>
	</div>
</body>
</html>