<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{login/layout}">
<body>
	<section layout:fragment="content">
		<form action="#" th:action="@{/login}" method="post">
			<div class="form-row">
				<label class="col-form-label col-sm-4 col-md-3 col-lg-2" th:text="#{username}">Benutzername:</label>
				<div class="col-12 col-sm-8 col-md-5 col-lg-4">
					<input type="text" class="form-control" name="username" id="username" th:placeholder="#{username}">
				</div>
			</div>
			<div class="form-row">
				<label class="col-form-label col-sm-4 col-md-3 col-lg-2" th:text="#{password}">Passwort:</label>
				<div class="col-12 col-sm-8 col-md-5 col-lg-4">
					<input type="password" class="form-control" name="password" id="password" th:placeholder="#{password}">
				</div>
			</div>
			<div class="form-row">
				<label class="col-form-label col-sm-4 col-md-3 col-lg-2" th:text="#{language}">Sprache:</label>
				<div class="col-12 col-sm-8 col-md-5 col-lg-4">
					<a href="?lang=de">Deutsch</a>
					<a href="?lang=en">Englisch</a>
				</div>
			</div>
			<div class="form-row">
				<div class="col-sm-4 col-md-3 col-lg-2">
					<div class="checkbox">
						<input id="tng-login-remember-me" name="remember-me" type="checkbox" />
						<label for="tng-login-remember-me" th:text="#{stay_logged_in}">Eingeloggt bleiben</label>
					</div>
				</div>
				<div class="col-12 col-sm-8 col-md-5 col-lg-4">
					<button type="submit" class="form-control" id="skr-login-button" th:text="#{login}">Login</button>
				</div>
			</div>
		</form>
	</section>
</body>
</html>