<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{login/layout}">
<body>
	<section layout:fragment="content">
		<form action="#" th:action="@{/register}" th:object="${request}" method="post">
			<div class="form-row">
				<label class="col-form-label col-sm-4 col-md-3 col-lg-2" th:text="#{username}">Benutzername:</label>
				<div class="col-12 col-sm-8 col-md-5 col-lg-4">
					<input type="text" class="form-control" th:field="*{username}" th:placeholder="#{username}">
					<span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
				</div>
			</div>
			<div class="form-row">
				<label class="col-form-label col-sm-4 col-md-3 col-lg-2" th:text="#{password}">Passwort:</label>
				<div class="col-12 col-sm-8 col-md-5 col-lg-4">
					<input type="password" class="form-control" th:field="*{password}" th:placeholder="#{password}">
					<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
				</div>
			</div>
			<div class="form-row">
				<label class="col-form-label col-sm-4 col-md-3 col-lg-2" th:text="#{password_repeat}">Passwort wiederholen:</label>
				<div class="col-12 col-sm-8 col-md-5 col-lg-4">
					<input type="password" class="form-control" th:field="*{passwordRepeat}" th:placeholder="#{password_repeat}">
					<span class="text-danger" th:if="${#fields.hasErrors('passwordRepeat')}" th:errors="*{passwordRepeat}"></span>
				</div>
			</div>
			<div class="form-row">
				<div class="col-sm-4 col-md-3 col-lg-2"></div>
				<div class="col-12 col-sm-8 col-md-5 col-lg-4">
					<button type="submit" class="form-control" th:text="#{register}">Registrieren</button>
				</div>
			</div>
		</form>
	</section>
</body>
</html>