<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content">
		<div class="modal" id="skr-ingame-overview-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 th:text="#{overview}">Overview</h3>
						<button type="button" class="close" id="skr-close-overview-button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item">
									<a href="#summary" data-toggle="tab" class="nav-link active" th:text="#{summary}">Summary</a>
								</li>
								<li class="nav-item">
									<a href="#players" data-toggle="tab" class="nav-link" th:text="#{players}">Players</a>
								</li>
								<li class="nav-item">
									<a href="#news" data-toggle="tab" class="nav-link" th:text="#{news}">News</a>
								</li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="summary" role="tabpanel" aria-labelledby="summary-tab">
									<div class="row">
										<div class="col-7">
											<div class="row">
												<div class="col-12 text-center" th:text="#{round} + ' ' + ${summary.round} + ' (' + ${#dates.format(summary.date, 'dd.MM.yyyy HH:mm')} + ')'">Runde 12 (31.12.2018 16:54)</div>
											</div>
											<div class="row">
												<div class="col-8" th:text="#{new_colonies}">New colonies</div>
												<div class="col-4 text-right" th:text="${summary.newColonies}">1</div>
											</div>
											<div class="row">
												<div class="col-8" th:text="#{new_ships}">New ships</div>
												<div class="col-4 text-right" th:text="${summary.newShips}">1</div>
											</div>
											<div class="row">
												<div class="col-8" th:text="#{new_starbases}">New starbases</div>
												<div class="col-4 text-right" th:text="${summary.newStarbases}">1</div>
											</div>
											<div class="row">
												<div class="col-8" th:text="#{conquered_colonies}">Conquered colonies</div>
												<div class="col-4 text-right" th:text="${summary.conqueredColonies}">1</div>
											</div>
											<div class="row">
												<div class="col-8" th:text="#{destroyed_ships}">Destroyed ships</div>
												<div class="col-4 text-right" th:text="${summary.destroyedShipsByPlanets + summary.destroyedShipsByShips}">1</div>
											</div>
										</div>
										<div class="col-5"></div>
									</div>
								</div>
								<div class="tab-pane" id="players" role="tabpanel" aria-labelledby="players-tab">
									<div class="row text-center">
										<div class="col-12">
											<span th:text="#{win_condition}">Win condition</span>:
										</div>
										<div class="col-12" th:text="#{'win_condition_' + ${summary.winCondition}}">Just For Fun</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div th:include="players-ranking::content"></div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="news" role="tabpanel" aria-labelledby="news-tab">
									<input type="hidden" th:value="#{will_be_deleted}" id="skr-overview-will-be-deleted-text" />
									<input type="hidden" th:value="#{will_not_be_deleted}" id="skr-overview-will-not-be-deleted-text" />
									<table class="table">
										<tbody>
											<tr th:each="n : ${news}">
												<td>
													<img th:src="${n.image}" />
												</td>
												<td th:text="${n.template}">Text</td>
												<td th:text="${#dates.format(n.date, 'dd.MM.yyyy HH:mm')}">31.12.2018 15:45</td>
												<td>
													<button class="btn btn-default skr-overview-toggle-delete" th:id="${'skr-overview-toggle-news-delete-button-' + n.id}" th:onclick="|ingame.toggleNewsDelete(${n.id})|" th:text="${n.delete} ? #{will_be_deleted} : #{will_not_be_deleted}">Will be deleted</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>